<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title></title>

    <link href="images/favicon.png" rel="icon" type="image/png" />

    <link href="stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/all.js"></script>
    <script src="javascripts/custom.js"></script>
  </head>
  <%= yield %>
</html>
