	<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li submenu="1" class="item-active"><a href="mission.html" do="no">О компании</a></li>
            <li submenu="2"><a href="investors.html" do="no">Инвесторам</a></li>
            <li submenu="3"><a href="inner.html" do="no">Прессе</a></li>
            <li submenu="4"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>


	<div class="header-menu first-active-menu" menu="1" id="submenu-1">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-7 " subtext="1"><a href="mission.html">Миссия</a></li>
            <li class="header-menu-item-8 " subtext="1"><a href="history.html">История</a></li>
            <li class="header-menu-item-9 " subtext="1"><a href="about-team.html">Руководство</a></li>
            <li class="header-menu-item-10 _active" subtext="1" ><a href="about-directions-1.html">Направления бизнеса</a></li>
            <li class="header-menu-item-11 " subtext="1"><a href="tech.html">Социальная ответственность</a></li>
            <li class="header-menu-item-12 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>

      <div class="header-menu" menu="2" id="submenu-2">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-1 " subtext="1"><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 " subtext="1"><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 " subtext="1"><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4 " subtext="1"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 " subtext="1"><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
          <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>


	  <div class="header-menu" menu="3" id="submenu-3">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 " subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu" menu="4" id="submenu-4">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 " subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

    </header>

    <div id="content">
      <div class="content-item _about-directions">
        <div class="innerwidth2">
          <p class="_italic"><em>Mail.Ru Group</em> (MAIL:LI, листинг с 5 ноября 2010 г., основана в 1998 г.) — ведущий игрок русскоязычного сегмента сети, при этом Россия — первый по размеру интернет-рынок в Европе (comScore).</p>
          <div class="col460">
            <p>Посетителями проектов Mail.Ru Group являются около 85% ежемесячной аудитории интернет-пользователей России (comScore, декабрь 2012 г.). Кроме того, Mail.Ru Group входит в топ-5 крупнейших в мире интернет-компаний по показателю посещаемости (по количеству просмотров страниц, comScore, декабрь 2012 г.).</p>
            <p>В рамках стратегии Communitainment Mail.Ru Group развивает единую интегрированную платформу коммуникационных и развлекательных интернет-сервисов. </p>
          </div>
          <div class="col460 _flr">
            <p>Компании принадлежат две из трех крупнейших русскоязычных социальных сетей — Одноклассники и Мой Мир, два ведущих инстант-мессенджера России — Агент Mail.Ru и ICQ, лидирующий почтовый сервис, один из крупнейших в рунете порталов, а также портфолио<br> крупнейших онлайн-игр.
            <p>Кроме того, Mail.Ru Group принадлежат пакеты акций ВКонтакте (39,99%) и Qiwi (21,35%), миноритарные доли в Facebook, ряде крупных российских и украинских интернет-компаний.</p>
          </div>
        </div>
      </div>
      <div class="content-item content-item_color" id="vacancy-ways">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Направления бизнеса</a></h3>
          <ul class="directions-handlers">
            <li class="item-1 _active">
              <a href="about-directions-1.html">
                <span class="business-directions-title">Почта и портал</span>
              </a><s></s>
            </li>
            <li class="item-2"><a href="about-directions-2.html">
              <span class="business-directions-title">Поиск и e-commerce</span>
            </a><s></s></li>
            <li class="item-3"><a href="about-directions-3.html">
              <span class="business-directions-title">Социальные сети</span>
            </a><s></s></li>
            <li class="item-4"><a href="about-directions-4.html">
              <span class="business-directions-title">Мессенджеры</span>
            </a><s></s></li>
            <li class="item-5"><a href="about-directions-5.html">
              <span class="business-directions-title">Игры</span>
            </a><s></s></li>
            <li class="line"></li>
          </ul>
        </div>
      </div>

      <div class="directions-blocks">
        <div class="directions-block" id="directions-1">
          <div class="content-item _stat-mail">
            <div class="innerwidth3" style="overflow:hidden">
              <h3 class="content-title"><a href="">Почта</a></h3>
              <div class="stat-number"><b style="color:#35afda"><span>100</span> млн</b>активных аккаунтов</div>
              <div class="stat-desca">
                <p class="txt">Почта Mail.Ru, проект Mail.Ru Group — крупнейший в русскоязычном сегменте сети сервис бесплатной электронной почты. Среди его ключевых особенностей — неограниченный объем ящика, возможность пересылки аттачей до 20 гигабайт, защита от вирусов и спама (в том числе индивидуальная), темы оформления интерфейса и писем и многое другое. Ежемесячная аудитория проекта (TNS, вся Россия, население в возрасте 12-64 лет, апрель 2013 г.) — 47 млн пользователей, входит в топ-5 мировых почтовых сервисов по дневной аудитории (comScore, апрель 2013 г.).</p>
              </div>
              <div class="layout apps" style="margin-left: 340px;padding-top: 33px;">
           <h4 class="content-title">Мобильные версии</h4>
				 <a href="" class="stat-apps-ios"><i></i><div style="position:absolute;bottom:0;width:100%;background-color:#abadb1;height:0;">
					<span style="background: url('images/icons-apps.png') no-repeat scroll 0 100% rgba(0, 0, 0, 0);width:24px;height:30px;display:none;position:absolute;top:15px;left:27px;"></span>
					<span style="color:#FFFFFF"><b>Скачать</b></span>
				  </div></a>
                  <a href="" class="stat-apps-android"><i></i><div style="position:absolute;bottom:0;width:100%;background-color:#abadb1;height:0;">
					<span style="background: url('images/icons-apps.png') no-repeat scroll -24px  100% rgba(0, 0, 0, 0);width:24px;height:30px;display:none;position:absolute;top:15px;left:27px;"></span>
					<span style="color:#FFFFFF"><b>Скачать</b></span>
				  </div></a>
                  <a href="" class="stat-apps-windows"><i></i><div style="position:absolute;bottom:0;width:100%;background-color:#abadb1;height:0;">
					<span style="background: url('images/icons-apps.png') no-repeat scroll -48px  100% rgba(0, 0, 0, 0);width:24px;height:30px;display:none;position:absolute;top:15px;left:27px;"></span>
					<span style="color:#FFFFFF"><b>Скачать</b></span>
				  </div></a>
                  <a href="" class="stat-apps-java"><i></i><div style="position:absolute;bottom:0;width:100%;background-color:#abadb1;height:0;">
					<span style="background: url('images/icons-apps.png') no-repeat scroll -72px  100% rgba(0, 0, 0, 0);width:24px;height:30px;display:none;position:absolute;top:15px;left:27px;"></span>
					<span style="color:#FFFFFF"><b>Скачать</b></span>
				  </div></a>
                  <a href="" class="stat-apps-symbian"><i></i><div style="position:absolute;bottom:0;width:100%;background-color:#abadb1;height:0;">
					<span style="background: url('images/icons-apps.png') no-repeat scroll -96px  100% rgba(0, 0, 0, 0);width:24px;height:30px;display:none;position:absolute;top:15px;left:27px;"></span>
					<span style="color:#FFFFFF"><b>Скачать</b></span>
				  </div></a>

              </div>
            </div>
          </div>
		    <script>
			$(".layout a").hover(function(){
				$(this).find("div").stop().animate({height:"100px"},'fast');
				$(this).find("div").find("span").css("display","block");
			},function(){
				$(this).find("div").stop().animate({height:"0"},'fast');
				$(this).find("div").find("span").css("display","none");
			});
		  </script>
          <div class="content-item _stat-portal">
            <div class="innerwidth2">
              <h3 class="content-title"><a href="">Портал</a></h3>
              <div class="stat-number"><b style="color:#35afda"><span>100</span> млн</b>активных аккаунтов</div>
              <div class="stat-desc">
                <p class="txt">Почта Mail.Ru, проект Mail.Ru Group — крупнейший в русскоязычном сегменте сети сервис бесплатной электронной почты. Среди его ключевых особенностей — неограниченный объем ящика, возможность пересылки аттачей до 20 гигабайт, защита от вирусов и спама (в том числе индивидуальная), темы оформления интерфейса и писем и многое другое. Ежемесячная аудитория проекта (TNS, вся Россия, население в возрасте 12-64 лет, апрель 2013 г.) — 47 млн пользователей, входит в топ-5 мировых почтовых сервисов по дневной аудитории (comScore, апрель 2013 г.).</p>
              </div>
            </div>
          </div>

          <div class="content-item" id="our-news">
            <div class="innerwidth2">
              <!-- <h3 class="content-title"><a href="">Наши новости</a></h3> -->
              <div class="video">
                <ul>
                  <li class="video-main">
                    <a href="" do="no">
                      <img src="images/unused/005.jpg" /><i></i>
                      <span>Интервью с Дмитрием Гришиным</span>
                      <b></b>
                    </a>
                    <div class="video-bottom"></div>
                    <div class="video-bottom-right"></div>
                  </li>
                  <li class="video-item">
                    <a href="">
                      <img src="images/unused/002.jpg" />
                      <span class="video-item-name">Юрий Ветров</span>
                      <i></i><b></b>
                    </a>
                  </li>
                  <li class="video-item">
                    <a href="">
                      <img src="images/unused/002.jpg" />
                      <span class="video-item-name">Юрий Ветров</span>
                      <i></i><b></b>
                    </a>
                  </li>
                  <li class="video-item">
                    <a href="">
                      <img src="images/unused/002.jpg" />
                      <span class="video-item-name">Юрий Ветров</span>
                      <i></i><b></b>
                    </a>
                  </li>
                  <li class="video-item">
                    <a href="">
                      <img src="images/unused/002.jpg" />
                      <span class="video-item-name">Юрий Ветров</span>
                      <i></i><b></b>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="mail-controls">
                <ul>
                  <li class="mail-controls-1">
                    <a href=""></a>
                  </li>
                  <li class="mail-controls-2">
                    <a href=""></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-item content-item_color _news" id="our-blog">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Новости</a></h3>
          <div class="col320 blog-article">
            <time datetime="2013-04-12-16-06-00">12 апреля 2013, 16:06</time>
            <span class="blog-article-title"><a href="" class="txt-title">Dribbble Meetup Russia-2013: фото</a></span>
            <p>12 апреля в коворкинге «Рабочая Станция» Парка Горького прошел второй Dribbble Meetup Russia.  На мероприятие, организованное Mail.Ru Group собралось более 300-сот участников отечественного Dribbble-сообщества и его известных игроков в качестве слушателей и рассказчиков.</p>
          </div>
          <div class="col320 blog-list">
            <ul>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <!-- <a href="" class="blog-list-comments">12 комментариев</a> -->
                <a href="" class="blog-list-title">Mail.Ru Group на РИФ-2013</a>
              </li>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <!-- <a href="" class="blog-list-comments">157 комментариев</a> -->
                <a href="" class="blog-list-title">Приходите на CodeFreeze с Робертом Лукшей, менеджером проекта «Одноклассники»</a>
              </li>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <!-- <a href="" class="blog-list-comments">3 комментария</a> -->
                <a href="" class="blog-list-title">Темы оформления. С блэк-джеком и WeakReference </a>
              </li>
            </ul>
          </div>
          <div class="col320 blog-list">
            <ul>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <!-- <a href="" class="blog-list-comments">3 комментария</a> -->
                <a href="" class="blog-list-title">Темы оформления. С блэк-джеком и WeakReference </a>
              </li>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <!-- <a href="" class="blog-list-comments">157 комментариев</a> -->
                <a href="" class="blog-list-title">Приходите на CodeFreeze с Робертом Лукшей, менеджером проекта «Одноклассники»</a>
              </li>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <!-- <a href="" class="blog-list-comments">12 комментариев</a> -->
                <a href="" class="blog-list-title">Mail.Ru Group на РИФ-2013</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-item content-item_color content-item_small" id="hot-vacancies">
        <div class="innerwidth2">
          <h3 class="content-title" style="font-family:PFBeauSansPro-Book"><a href="">Горячие вакансии</a></h3>
          <div class="content-subtitle">Если вы хотите работать в Mail.Ru Group, направляйте нам свое резюме — <a href="mailto:hr@corp.mail.ru">hr@corp.mail.ru</a></div>
          <ul class="clearboth">
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Дизайнер интерфейсов проекта Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Социальные сети</div>
              <div class="hot-vacancies-title"><a href="">Разработчик J2EE (web-портал), проект Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Java-разработчик (серверная часть), проект Skyforge</a></div>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
	</body>
