<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li submenu="1" class="item-active"><a href="mission.html" do="no">О компании</a></li>
            <li submenu="2"><a href="investors.html" do="no">Инвесторам</a></li>
            <li submenu="3"><a href="inner.html" do="no">Прессе</a></li>
            <li submenu="4"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>


	<div class="header-menu first-active-menu" menu="1" id="submenu-1">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-7 " subtext="1"><a href="mission.html">Миссия</a></li>
            <li class="header-menu-item-8 " subtext="1"><a href="history.html">История</a></li>
            <li class="header-menu-item-9 _active" subtext="1"><a href="about-team.html">Руководство</a></li>
            <li class="header-menu-item-10 " subtext="1" ><a href="about-directions-1.html">Направления бизнеса</a></li>
            <li class="header-menu-item-11 " subtext="1"><a href="tech.html">Социальная ответственность</a></li>
            <li class="header-menu-item-12 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>

      <div class="header-menu" menu="2" id="submenu-2">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-1 " subtext="1"><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 " subtext="1"><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 " subtext="1"><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4 " subtext="1"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 " subtext="1"><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
          <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>


	  <div class="header-menu" menu="3" id="submenu-3">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 " subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu" menu="4" id="submenu-4">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 " subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

    </header>

    <div id="content">
      <div class="content-item _text _about-team">
        <div class="innerwidth2">
          <h4 class="content-title">Сегодня в Mail.Ru Group работают около 3000 человек</h4>
          <p>В Москве, Санкт-Петербурге, Воронеже, Нижнем Новгороде, Гамбурге, Риге и других городах. Основные продукты компании создаются командами, которые постоянно взаимодействуют, и наша главная задача — обеспечить для них максимально комфортные условия для творчества и самореализации. Поэтому у нас нет жесткой привязки ко времени пребывания в офисе: каждая команда может выбрать удобный график работы (начинать рано утром или позже).</p>

          <h3 class="content-title"><a href="">Команда Mail.Ru Group</a></h3>
          <ul>





            <li><a href="" do="no">
              <img src="images/team/001.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/002.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/003.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/004.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/005.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/006.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/007.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/008.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/009.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/010.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/011.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/012.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/013.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/014.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/015.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/016.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/017.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/018.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/019.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/020.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/021.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/022.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/023.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/024.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>





            <li><a href="" do="no">
              <img src="images/team/025.jpg" /><p><span>Денис Аникин</span>Технический директор <br>проекта Почта Mail.ru</p><b></b>
            </a></li>

          </ul>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
