<body class='inner navType-03'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li><a href="investors.html" do="no">Инвесторам</a></li>
            <li><a href="inner.html" do="no">Прессе</a></li>
            <li><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li class="item-active"><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>
      <div class="header-menu-alternative">
       <!-- <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>-->
        <div class="innerwidth2 _menu-block">

		<div class="menu-column">
			<ul>
				<li><a href="advertises-other.html">Прайс-лист</a></li>
				<li><a href="#">Нестандартная реклама</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Реклама в Азии</a></li>
			</ul>
		</div>
		<div class="menu-column">
			<ul>
				<li><a href="#">Сезонные коэффициенты</a></li>
				<li><a href="#">Технические требования</a></li>
				<li><a href="#" >Юридические требования</a></li>
				<li><a href="#" >Аудитория</a></li>
			</ul>
		</div>
		<div class="menu-column">
			<ul>
				<li><a href="#">Наша статистика</a></li>
				<li><a href="advertises-calculator.html">Калькулятор таргетинга</a></li>
				<li><a href="#" class="_blue">Заказать рекламу</a></li>
				<li><a href="#" class="_blue">Заказать рекламу в зарубежье</a></li>
			</ul>
		</div>
		<div style="clear:both"></div>
        </div>
      </div>
    </header>

    <div id="content">
      <div class="content-item _about-directions">
        <div class="innerwidth2">
		<div class="headers" style="position:relative">
			<h3 class="content-title"><a href="">Рекламодателям</a></h3>
			<h3 class="content-title-subtitle" style="position:absolute;right:32px;bottom:0"><a href="">Предложения для регионов и зарубежья</a></h3>
			<div style="clear:both"></div>
		</div>
          <div class="col580">
            <div class="adv-icons">
				<a href="#" id="adv-icon-mail">Mail.Ru</a>
				<a href="#" id="adv-icon-od">Одноклассники</a>
				<a href="#" id="adv-icon-trp">TRP</a>
				<div style="clear:both"></div>
			</div>
          </div>
          <div class="col380">
		  <div class="small-tabs">
				 <a href="javascript:void(0)" class="small-tab _active-small-tab" tab="1"><span>Mail.Ru</span><i></i></a>
                 <a href="javascript:void(0)" class="small-tab" tab="2"><span>Одноклассники</span><i></i></a>
				 <div style="clear:both"></div>
		  </div>
		  <div class="small-tab-content active-content" data-tab="1">
			<div class="small-tab-content-inner">
				<table style="width:100%">
					<tr >
						<td><a href="#" id="rf">Регионы РФ</a></td>
						<td><a href="#" id="bel">Беларусь</a></td>
					</tr>
					<tr>
						<td><a href="#" id="ukr">Украина</a></td>
						<td><a href="#" id="kaz">Казахстан</a></td>
					</tr>
				</table>
				<ul>
					<li><a href="#">Все регионы</a></li>
					<li><a href="#">Стать региональным партнером</a></li>
					<li><a href="#">Региональные партнеры</a></li>
				</ul>
			</div>
		  </div>
		  <div class="small-tab-content" data-tab="2">
			<div class="small-tab-content-inner">
				<table style="width:100%">
					<tr >
						<td><a href="#" id="rf">Регионы РФ</a></td>
						<td><a href="#" id="bel">Беларусь</a></td>
					</tr>
					<tr>
						<td><a href="#" id="ukr">Украина</a></td>
						<td><a href="#" id="kaz">Казахстан</a></td>
					</tr>
					<tr>
						<td><a href="#" id="mol">Молдова</a></td>
						<td><a href="#" id="izr">Израиль</a></td>
					</tr>
					<tr>
						<td><a href="#" id="est">Эстония</a></td>
						<td><a href="#" id="lat">Лавия</a></td>
					</tr>
					<tr>
						<td><a href="#" id="kz">Кыргыстан</a></td>
						<td><a href="#" id="uz">Узбекистан</a></td>
					</tr>
					<tr>
						<td><a href="#" id="ec">Страны Европы</a></td>
						<td><a href="#" id="arm">Армения</a></td>
					</tr>
					<tr>
						<td><a href="#" id="az">Азербайджан</a></td>
						<td><a href="#" id="us">США</a></td>
					</tr>
					<tr>
						<td><a href="#" id="tg">Таджикастан</a></td>
						<td><a href="#" id="gruz">Грузия</a></td>
					</tr>
					<tr>
						<td><a href="#" id="ch">Китай</a></td>
						<td><a href="#" id="lit">Литва</a></td>
					</tr>
				</table>
				<ul>
					<li><a href="#">Все регионы</a></li>
					<li><a href="#">Стать региональным партнером</a></li>
					<li><a href="#">Региональные партнеры</a></li>
				</ul>
			</div>
		  </div>
          </div>
        </div>
      </div>
      <script>
			$(".layout a").hover(function(){
				$(this).find("div").animate({height:"100px"},'fast');
				$(this).find("div").find("span").css("display","block");
			},function(){
				$(this).find("div").animate({height:"0"},'fast');
				$(this).find("div").find("span").css("display","none");
			});
	  </script>
      <div class="content-item content-item_color _news" id="our-blog">
        <div class="innerwidth2" style="border:none">
          <div class="col290 adv-slogan">
		  <h3 class="content-title"><a href="">Таргетинг</a></h3>
            Размещайте рекламу самостоятельно на Mail.Ru и Одноклассниках
			<a class="target-calc" do="no" href="">Калькулятор таргетинга</a>
			<div style="clear:both"></div>
          </div>
          <div class="col640 adv-footer">
            <h3 class="content-title-subtitle-bottom"><a href="">Точная настройка увеличивает конверсию</a></h3>
			<div class="adv-links">
				<a href="">Демография<span>Пол, возраст, день рождения</span></a>
				<a href="">География<span>Страны, области, города, поселки и деревни</span></a>
				<a href="">Интересы<span>27 пользовательских интересов, список постоянно пополняеться новыми </span></a>
				<a href="">Ремаркетинг<span>Напоминания о покупках, льготы и скидки клиентам</span></a>
				<div style="clear:both"></div>
			</div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
