---
layout: advertisers-calculator
---
<body class='inner navType-03'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li><a href="investors.html" do="no">Инвесторам</a></li>
            <li><a href="inner.html" do="no">Прессе</a></li>
            <li><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li class="item-active"><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>
      <div class="header-menu-alternative">
       <!-- <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>-->
        <div class="innerwidth2 _menu-block">

		<div class="menu-column">
			<ul>
				<li><a href="advertises-other.html">Прайс-лист</a></li>
				<li><a href="#">Нестандартная реклама</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Реклама в Азии</a></li>
			</ul>
		</div>
		<div class="menu-column">
			<ul>
				<li><a href="#">Сезонные коэффициенты</a></li>
				<li><a href="#">Технические требования</a></li>
				<li><a href="#" >Юридические требования</a></li>
				<li><a href="#" >Аудитория</a></li>
			</ul>
		</div>
		<div class="menu-column">
			<ul>
				<li><a href="#">Наша статистика</a></li>
				<li><a href="advertises-calculator.html" class="__active-item">Калькулятор таргетинга</a></li>
				<li><a href="#" class="_blue">Заказать рекламу</a></li>
				<li><a href="#" class="_blue">Заказать рекламу в зарубежье</a></li>
			</ul>
		</div>
		<div style="clear:both"></div>
        </div>
      </div>
    </header>

    <div id="content">
      <div class="content-item _about-directions">
        <div class="innerwidth2">
			<div class="col240">
            <ul class="vacancy-cats"  style="width:230px">
              <li class="_opened">
                <div class="vacancy-cats-name">Проекты <i>14</i><b></b></div>
                <ul class="vacancy-cats-list _bycity">
                 <li class="_active-item"><a href="" do="no">Москва</a></li>
                  <li><a href="" >Почта</a></li>
                  <li><a href="" >Мой Мир</a></li>
                  <li><a href="" >Авто-Мото</a></li>
                  <li><a href="" >Афиша, ТВ</a></li>
                  <li><a href="" >Дети</a></li>
                  <li><a href="" >Здоровье</a></li>
                  <li><a href="" >Знакомства</a></li>
                  <li><a href="" >Игры</a></li>
                  <li><a href="" >Карты</a></li>
                  <li><a href="" >Люди</a></li>
                  <li><a href="" >Недвижимость</a></li>
                  <li><a href="" >Новости</a></li>
                  <li><a href="" >Ответы</a></li>
				  <li><a href="" >Открытки</a></li>
				  <li><a href="" >Погода</a></li>
				  <li><a href="" >Поиск</a></li>
				  <li><a href="" >Путешесвия</a></li>
				  <li><a href="" >Работа</a></li>
				  <li><a href="" >Рассылки</a></li>
				  <li><a href="" >Словари</a></li>
				  <li><a href="" >Спорт</a></li>
				  <li><a href="" >Товары</a></li>
				  <li><a href="" >Файлы</a></li>
				  <li><a href="" >Hi-Tech</a></li>
				  <li><a href="" >Мобильная реклама</a></li>
				  <li><a href="" >Деньги</a></li>
                </ul>
              </li>
              <li class="_opened">
                <div class="vacancy-cats-name">Регионы <i>77</i><b></b></div>
                <ul class="vacancy-cats-list">
                   <li><a href="" >Гамбург</a></li>
                  <li><a href="" >Дубай</a></li>
                  <li><a href="" >Тель-Авив</a></li>
                  <li><a >Санкт-петербург</a></li>
                  <li class="_active-item"><a href="" do="no">Хабаровск</a></li>
                  <li><a href="" >Челябинск</a></li>
                  <li><a href="" >Волгоград</a></li>
                  <li><a href="" >Воронеж</a></li>
                  <li><a href="" >Екатеринбург</a></li>
                  <li><a href="" >Иваново</a></li>
                  <li><a href="" >Казань</a></li>
                  <li><a href="" >Киев</a></li>
                  <li><a href="" >Красноярск</a></li>
                </ul>
              </li>
            </ul>
          </div>
		  <div class="calculator col650">
			<h3 class="content-title"><a href="">Калькулятор таргетинга</a></h3>
			<p>
				C помощью данного калькулятора Вы можете рассчитывать объем необходимого Вам траффика с учетом таргетинга (в % от траффика)
			</p>
			<div class="calculator-form">
				<div class="form-column">
					<div class="calc-select">
						<h4 class="title">Площадка</h4>
						<div class="calculator-select">Видео</div>
						<div class="calculator-select-list">
							<ul>
								<li><a do="no" href="">Январь</a></li>
								<li><a do="no" href="">Февраль</a></li>
								<li><a do="no" href="">Март</a></li>
								<li><a do="no" href="">Апрель</a></li>
								<li><a do="no" href="">Май</a></li>
								<li class="_selected"><a do="no" href="">Июнь</a></li>
								<li><a do="no" href="">Июль</a></li>
								<li><a do="no" href="">Август</a></li>
								<li><a do="no" href="">Сентябрь</a></li>
								<li><a do="no" href="">Октябрь</a></li>
								<li><a do="no" href="">Ноябрь</a></li>
								<li><a do="no" href="">Декабрь</a></li>
							  </ul>
						</div>
					</div>
					<div class="calc-select">
						<h4 class="title margined">Период</h4>
						<div class="calculator-select">Рабочий день</div>
						<div class="calculator-select-list">
							<ul>
								<li><a do="no" href="">Январь</a></li>
								<li><a do="no" href="">Февраль</a></li>
								<li><a do="no" href="">Март</a></li>
								<li><a do="no" href="">Апрель</a></li>
								<li><a do="no" href="">Май</a></li>
								<li class="_selected"><a do="no" href="">Июнь</a></li>
								<li><a do="no" href="">Июль</a></li>
								<li><a do="no" href="">Август</a></li>
								<li><a do="no" href="">Сентябрь</a></li>
								<li><a do="no" href="">Октябрь</a></li>
								<li><a do="no" href="">Ноябрь</a></li>
								<li><a do="no" href="">Декабрь</a></li>
							  </ul>
						</div>
					</div>
					<div class="small-selects">
					<table style="width:90%">
						<tr>
							<td style="width:148px;">
								<h4 class="title">Пол</h4>
								<div class="calculator-select">Мужской</div>
								<div class="calculator-select-list" style="width:129px">
									<ul>
										<li><a do="no" href="">Январь</a></li>
										<li><a do="no" href="">Февраль</a></li>
									</ul>
								</div>
							</td>
							<td>
								<h4 class="title">Возраст</h4>
								<input type="text" />
							</td>
						</tr>
					</table>
					</div>
				</div>
				<div class="form-column">
					<h4 class="title">Регион</h4>
					<div class="scroll-pane">
						<ul>
						  <li><a href="" do="no">Все</a></li>
						  <li><a href="" do="no">Россия</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Гамбург</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Дубай</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Тель-Авив</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Санкт-петербург</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Хабаровск</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Челябинск</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Волгоград</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Воронеж</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Екатеринбург</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Иваново</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Казань</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Киев</a></li>
						  <li><a href="" do="no" class="blue-item"><img src="images/list-img.jpg" />Красноярск</a></li>
						</ul>
					</div>
				</div>
				<div style="clear:both"></div>
			</div>

			<h4 class="title">Показы (кол.)</h4>
			<div class="nums blue-num">
			<table style="width:560px">
				<tr>
					<td>1 072</td>
					<td><img src="images/table-arrow.png" /></td>
					<td>7%</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><span>от общего</span></td>
				</tr>
				<tr>
					<td colspan="3"><h4 class="title">Посетители (кол.)</h4></td>
				</tr>
				<tr style="color:#faa61a">
					<td>55</td>
					<td><img src="images/table-arrow.png" /></td>
					<td>0,05%</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><span>от общего</span></td>
				</tr>
			</table>
			</div>
			<p class="attension">
				<b>Важно!</b> Просим принять во внимание, что возможность таргетирования существует не на всех проектах портала. Пожалуйста, уточняйте это в <a href="#">прайс-листе</a>
			</p>
		  </div>
		  <div style="clear:both"></div>
        </div>
      </div>
    </div>
	<script>
		$('.scroll-pane').jScrollPane({verticalDragMinHeight: 30,verticalDragMaxHeight: 30});
	</script>
    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
