<body class='inner navType-03'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li><a href="investors.html" do="no">Инвесторам</a></li>
            <li><a href="inner.html" do="no">Прессе</a></li>
            <li><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li class="item-active"><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>
      <div class="header-menu-alternative">
       <!-- <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>-->
        <div class="innerwidth2 _menu-block">

		<div class="menu-column">
			<ul>
				<li><a href="advertises-other.html" class="__active-item">Прайс-лист</a></li>
				<li><a href="#">Нестандартная реклама</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Реклама в Азии</a></li>
			</ul>
		</div>
		<div class="menu-column">
			<ul>
				<li><a href="#">Сезонные коэффициенты</a></li>
				<li><a href="#">Технические требования</a></li>
				<li><a href="#" >Юридические требования</a></li>
				<li><a href="#" >Аудитория</a></li>
			</ul>
		</div>
		<div class="menu-column">
			<ul>
				<li><a href="#">Наша статистика</a></li>
				<li><a href="advertises-calculator.html">Калькулятор таргетинга</a></li>
				<li><a href="#" class="_blue">Заказать рекламу</a></li>
				<li><a href="#" class="_blue">Заказать рекламу в зарубежье</a></li>
			</ul>
		</div>
		<div style="clear:both"></div>
        </div>
      </div>
    </header>

    <div id="content">
      <div class="content-item _about-directions">
        <div class="innerwidth2">
			<div class="col240">
            <ul class="vacancy-cats"  style="width:230px">
              <li class="_opened">
                <div class="vacancy-cats-name">Проекты <i>14</i><b></b></div>
                <ul class="vacancy-cats-list _bycity">
                  <li class="_active-item"><a href="" do="no">Москва</a></li>
                  <li><a href="" >Почта</a></li>
                  <li><a href="" >Мой Мир</a></li>
                  <li><a href="" >Авто-Мото</a></li>
                  <li><a href="" >Афиша, ТВ</a></li>
                  <li><a href="" >Дети</a></li>
                  <li><a href="" >Здоровье</a></li>
                  <li><a href="" >Знакомства</a></li>
                  <li><a href="" >Игры</a></li>
                  <li><a href="" >Карты</a></li>
                  <li><a href="" >Люди</a></li>
                  <li><a href="" >Недвижимость</a></li>
                  <li><a href="" >Новости</a></li>
                  <li><a href="" >Ответы</a></li>
				  <li><a href="" >Открытки</a></li>
				  <li><a href="" >Погода</a></li>
				  <li><a href="" >Поиск</a></li>
				  <li><a href="" >Путешесвия</a></li>
				  <li><a href="" >Работа</a></li>
				  <li><a href="" >Рассылки</a></li>
				  <li><a href="" >Словари</a></li>
				  <li><a href="" >Спорт</a></li>
				  <li><a href="" >Товары</a></li>
				  <li><a href="" >Файлы</a></li>
				  <li><a href="" >Hi-Tech</a></li>
				  <li><a href="" >Мобильная реклама</a></li>
				  <li><a href="" >Деньги</a></li>
                </ul>
              </li>
              <li class="_opened">
                <div class="vacancy-cats-name">Регионы <i>77</i><b></b></div>
                <ul class="vacancy-cats-list">
                  <li><a href="" >Гамбург</a></li>
                  <li><a href="" >Дубай</a></li>
                  <li><a href="" >Тель-Авив</a></li>
                  <li><a >Санкт-петербург</a></li>
                  <li class="_active-item"><a href="" do="no">Хабаровск</a></li>
                  <li><a href="" >Челябинск</a></li>
                  <li><a href="" >Волгоград</a></li>
                  <li><a href="" >Воронеж</a></li>
                  <li><a href="" >Екатеринбург</a></li>
                  <li><a href="" >Иваново</a></li>
                  <li><a href="" >Казань</a></li>
                  <li><a href="" >Киев</a></li>
                  <li><a href="" >Красноярск</a></li>
                </ul>
              </li>
            </ul>
          </div>
		  <div class="price-list col650">
			<h3 class="content-title"><a href="">Прайс-лист</a></h3>
			<h3 class="content-title-subtitle-bottom" style="margin:35px 0"><a href="">Главная страница</a></h3>
			<p style="margin-bottom:40px;">
				Прайс действует с 1 января 2013 года.<br/>Прайс действующий с 1 января 2013 года можно посмотреть <a href="#" class="price-link">здесь</a>
			</p>
			<div class="price-buttons">
				<a href="#" do="no">Скачать презентацию</a>
				<a href="#" do="no">Стандратные нестандарты</a>
				<a href="#" do="no">Технические требования</a>
				<div style="clear:both"></div>
			</div>
			<div class="price-table-1">
				<table>
					<thead>
						<tr class="table-header">
							<td colspan="2">Позиция</td>
							<td>Формат</td>
							<td>Единица измерения</td>
							<td>Прайс</td>
							<td colspan="2">Комментарии</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="first"></td>
							<td>Главная страница портала</td>
							<td class="blue">300х300</td>
							<td>1 000 показов</td>
							<td>300</td>
							<td>Минимльный объем заказа 2 000 000</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td>Главная страница портала</td>
							<td class="blue">Текстово-граф. блок</td>
							<td>1 000 показов</td>
							<td>100</td>
							<td>Минимльный объем заказа 2 000 000</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td>Главная страница портала</td>
							<td class="blue">Текстово-граф. блок №2</td>
							<td>1 000 показов</td>
							<td>70</td>
							<td>Минимльный объем заказа 1 000 000</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td>Главная страница портала</td>
							<td class="blue">300х300(планшеты)</td>
							<td>Пакет(Россия)</td>
							<td>400 000<i>**</i></td>
							<td>2 пакета в неделю, 900 000 показов в пакете, RF=3</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td>Главная страница портала</td>
							<td class="blue">300х300(iPad)</td>
							<td>Пакет(Россия)</td>
							<td>500 000<i>**</i></td>
							<td>2 пакета в неделю, 900 000 показов в пакете, RF=3</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td>Главная страница портала</td>
							<td class="blue">300х300(Android)</td>
							<td>Пакет(Россия)</td>
							<td>500 000<i>**</i></td>
							<td>1 пакет в неделю, 900 000 показов в пакете, RF=3</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first last"></td>
							<td class="last">Главная страница портала</td>
							<td class="blue last">300х300(Android)</td>
							<td class="last">Пакет(Россия)</td>
							<td class="last">500<i>**</i></td>
							<td class="last"></td>
							<td class="first last"></td>
						</tr>
					</tbody>
				</table>
				<p>
					<i>*</i>Наценка за размещение html5-баннера (в том числе видео-расхлопа) включена в стоимость
					<i>**</i>Цены без учета сезонного коэфициента и НДС<br/>
				</p>
				<h4>Текстовый рекламный блок: </h4>
				<ul style="list-style:decimal outside none;">
					<li>Анонс не должен занимать более 3-х строк текста при разрешении 1024х768 и может содержать картинку</li>
					<li>Текстовая часть анонса состоит из заголовка и тексат под ним</li>
				</ul>
				<h4>Требовния к картинке: </h4>
				<ul style="list-style:url('images/list-img.jpg')">
					<li>Размер картинки 1:75px по ширине и по 50px по высоте</li>
					<li>Размер картинки 2:150px по ширине и по 100px по высоте</li>
					<li>Формат: PNG, JPEG или GIF без анимации</li>
					<li>Вес картинки 75x75 не должен превышать 15Кб, 150х100 - 20Кб</li>
					<li>Картинка должна быть читаемой</li>
					<li>Картинка являеться ссылкой</li>
				</ul>
			</div>
			<div class="html5-req">
				<h3 class="content-title-subtitle-bottom" style="margin:35px 0;"><a href="">Требования к html5-креативам для размещения баннера 300х300 на планшетах:</a></h3>
				<ul style="list-style:decimal outside none;">
					<li>Исходная структура html должна быть внутри одного элемента с id.</li>
					<li>Html должен быть полностью готовым и рабочим, в т.ч. включать в себя ссылку с баннера на рекламируемый сайт.</li>
					<li>Все стили должны быть либо собраны в один файл css. Если в стилях фигурируют конструкции URL(урл к картинке) - обязательно inline.</li>
					<li>Все скрипты должны быть либо собраны в один тег script, либо один файл js. Если в скриптах фигурируют ссылкм на внешние ресурсы - обязательно тег script, либо следует передавать url этих ресурсов в js из кода баннера параметрами.</li>
					<li>Исходная структура html должна быть внутри одного элемента с id.</li>
					<li>Html должен быть полностью готовым и рабочим, в т.ч. включать в себя ссылку в баннера на рекламируемый сайт.</li>
					<li>Все стили должны быть либо собраны в один inline, либо в один файл css. Если в стилях фигурируют конструкции URL(урл к картинке) - обязателен inline.</li>
					<li>Все скрипты должны быть либо собраны в один тег script, либо один файл js. Если в скриптах фигурируют ссылки на внешние ресурсы - обязательно тег script, либо следует передавать url этих ресурсов в js из кода беннера параметрами</li>
				</ul>
			</div>
			<div class="banner-settings">
				<h3 class="content-title-subtitle-bottom" style="margin:35px 0;"><a href="">Доступны настройки показов баннера 300х300:</a></h3>
				<table>
					<tbody>
						<tr>
							<td class="first"></td>
							<td><b>Ограничение по частоте показов уникальному пользователю</b></td>
							<td class="red">0%</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td><b>Таргетинг по возврату</b></td>
							<td class="red">0%</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td><b>Видео-баннер с автостартом</b>
								<div class="price-buttons" style="margin-top:8px">
									<a do="no" href="#">Технические требования</a></div>
							</td>
							<td>15%</td>
							<td class="first"></td>
						</tr>
						<tr>
							<td class="first"></td>
							<td class="last"><b>Географический таргетинг</b></td>
							<td class="last">15%</td>
							<td class="first"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="contacts">
				<h3 class="content-title-subtitle-bottom" style="margin-top:35px;margin-bottom:20px;"><a href="">Контакты:</a></h3>
				<p style="margin-bottom:0">+7 (495) 725-63-47</p>
				<a href="#" class="email">pr@corp.mail.ru</a>
			</div>
		  </div>
		  <div style="clear:both"></div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
