---
layout: sitemap
---
<ol>
  <% sitemap.resources .select{|page| page.url =~ /\.html/} .map{|page| page.url.gsub(/^\//, '')} .sort .each do |url| %>
  <li><a target="_blank" href="<%= "#{url}" %>"><%= "#{url}" %></a></li>
  <% end %>
</ol>
