<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li><a href="investors.html" do="no">Инвесторам</a></li>
            <li class="item-active"><a href="inner.html" do="no">Прессе</a></li>
            <li><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>

      <div class="header-slider">
        <div class="slider">
          <ul>
            <li class="slider-item slider-item_active">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>2: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-02.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-02-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>3: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
          </ul>
          <div class="slider-nav">
            <ul><li class="active"></li><li></li><li></li></ul>
          </div>
        </div>
      </div>


      <div class="header-menu first-active-menu" menu="3" id="submenu-3">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 " subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
        </div>
      </div>

    </header>

    <div id="content">
      <div class="content-item" id="pres-release">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Пресс-релизы</a></h3>
          <ul class="releasies">
            <li class="col320">
              <a href="press-about-2.html">
                <div class="releasies-preview">
                  <img src="images/unused/013.jpg" /><b></b>
                </div>
                <time datetime="">27.12.2013</time>
                <span class="releasies-title">Apple iPad mini в</span>
                <p>Онлайн-шутер Warface (http://wf.mail.ru) от знаменитой студии Crytek стал лауреатом «Премии рунета» — престижной награды за вклад в развитие российского сегмента сети интернет.</p>
                <b></b>
              </a>
            </li>
            <li class="col320">
              <a href="press-about-2.html">
                <div class="releasies-preview">
                  <img src="images/unused/013.jpg" /><b></b>
                </div>
                <time datetime="">27.12.2013</time>
                <span class="releasies-title">Warface — главная игра рунета</span>
                <p>Онлайн-шутер Warface (http://wf.mail.ru) от знаменитой студии Crytek стал лауреатом «Премии рунета» — престижной награды за вклад в развитие российского сегмента сети интернет.</p>
                <b></b>
              </a>
            </li>
            <li class="col320">
              <a href="press-about-2.html">
                <div class="releasies-preview">
                  <img src="images/unused/013.jpg" /><b></b>
                </div>
                <time datetime="">27.12.2013</time>
                <span class="releasies-title">Warface — <br>главная игра рунета</span>
                <p>Онлайн-шутер Warface (http://wf.mail.ru) от знаменитой студии Crytek стал лауреатом «Премии рунета» — престижной награды за вклад в развитие российского сегмента сети интернет. Онлайн-шутер Warface (http://wf.mail.ru) от знаменитой студии Crytek стал лауреатом «Премии рунета» — престижной награды за вклад в развитие российского сегмента сети интернет.</p>
                <b></b>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="content-item" id="inner-events">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Мероприятия</a></h3>
          <div class="col640">
            <a href="press-about-2.html" class="ievents-item">
              <div class="ievents-cover"><img src="images/unused/014.jpg" /></div>
              <div class="ievents-content ievents-content_blue">
                <div class="ievents-date"><b>12</b> февраля</div>
                <div class="ievents-title">Mobile Developer Business Days<br>Russia 2012</div>
                <div class="ievents-description">Мероприятие для разработчиков и заказчиков мобильных приложений</div>
                <span href="" class="ievents-nextlink"></span>
              </div>
              <b class="ievents-bg"></b>
            </a>
          </div>
          <div class="col320">
            <ul class="ievents-list">
              <li>
                <div class="ievents-list-cover"><img src="images/unused/015.jpg" /></div>
                <a href="press-about-2.html" class="ievents-list-content ievents-content_blue">
                  <b class="ievents-bg"></b>
                  <span class="ievents-date"><b>12</b> февраля</span>
                  <span class="ievents-list-title">UX-Среда №15</span>
                </a>
              </li>
              <li>
                <div class="ievents-list-cover"><img src="images/unused/016.jpg" /></div>
                <a href="press-about-2.html" class="ievents-list-content ievents-content_green">
                  <b class="ievents-bg"></b>
                  <span class="ievents-date"><b>12</b> февраля</span>
                  <span class="ievents-list-title">Месть Соверинга»:<br>разработка и продвижение</span>
                </a>
              </li>
              <li>
                <div class="ievents-list-cover"><img src="images/unused/017.jpg" /></div>
                <a href="press-about-2.html" class="ievents-list-content ievents-content_red">
                  <b class="ievents-bg"></b>
                  <span class="ievents-date"><b>12</b> февраля</span>
                  <span class="ievents-list-title">Форум Технологий  Mail.Ru Group</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-item" id="pres-aboutus">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Пресса о нас</a></h3>
          <div class="col321">
            <div class="aboutus-meta">
              <p><time datetime="">27.12.2012</time>, Аргументы и факты</p>
            </div>
            <a class="aboutus-title" href="press-about-2.html">В конкурсе мини-игр @Mail.ru появились лидеры</a>
            <div class="aboutus-content">
              <p>Москва, 27 декабря – АиФ-Москва. Лидеры гонки «Новогодний карнавал», которую проводит интернет-портал Мини-игры@Mail.ru среди игроков онлайн-игр, прошли отборочный тур и попали во второй раунд.</p>
            </div>
          </div>
          <div class="col321">
            <div class="aboutus-meta">
              <p><time datetime="">27.12.2012</time>, Финам FM</p>
            </div>
            <a class="aboutus-title" href="press-about-2.html">Mail.Ru Games выходит на азиатские рынки</a>
            <div class="aboutus-content">
              <p>Mail.Ru Games, игровое подразделение Mail.Ru Group, объявляет о запуске игр для мобильных платформ в Японии, Южной Корее...</p>
            </div>
          </div>
          <div class="col323 blog-quote">
            <div class="blog-quote-author"><strong>Анна Артамонова</strong> Вице-президент по стратегическим проектам Mail.Ru Group</div>
            <img alt="Анна Артамонова" class="blog-quote-pic" src="images/pic-002.png" />
            <blockquote>Вокруг Mail.Ru скопилось много мифов</blockquote>
            <cite>Roem.ru. 21.02.2013</cite>
            <i><!--Bottom quote--></i>
          </div>
        </div>
      </div>

      <div class="content-item content-item_color" id="infographs">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Инфографика</a></h3>
          <div class="col321">
            <a href="" class="txt-title">
              <img src="images/unused/018.jpg" />
              <b class="shadow"></b>
              <div class="txt-meta">
                <time datetime="">27.12.2012</time>
              </div>
              В 2013 году Samsung впервые обгонит Apple на российском рынке
            </a>
          </div>
          <div class="col321">
            <a href="" class="txt-title">
              <img src="images/unused/019.jpg" />
              <b class="shadow"></b>
              <div class="txt-meta">
                <time datetime="">27.12.2012</time>
              </div>
              Рунет выбрал лучшие авто 2012 года на Авто Mail.Ru
            </a>
          </div>
          <div class="col320 analytics-docs" style="float:right">
            <ul>
                <li class="doctype-pdf">
                  <a href="">
                    <time datetime="2012-11-22">22.11.2012</time>
                    <span>Отчет Mail.Ru Group за 2012 год</span>
                  </a>
                </li>
                <li class="doctype-pdf">
                  <a href="">
                    <time datetime="2012-11-22">22.11.2012</time>
                    <span>Аналитика: Рост пользователей “Агента”</span>
                  </a>
                </li>
                <li class="doctype-pdf">
                  <a href="">
                    <time datetime="2012-11-22">22.11.2012</time>
                    <span>Инфографика по мобильным приложениям</span>
                  </a>
                </li>
                <li class="doctype-doc">
                  <a href="">
                    <time datetime="2012-11-22">22.11.2012</time>
                    <span>Отчет Mail.Ru Group за 2012 го</span>
                  </a>
                </li>
                <li class="doctype-doc">
                  <a href="">
                    <time datetime="2012-11-22">22.11.2012</time>
                    <span>Аналитика: Рост пользователей “Агента”</span>
                  </a>
                </li>
              </ul>
          </div>
		  <div style="clear:both"></div>
        </div>
      </div>

      <div class="content-item content-item_color" id="contacts">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Контакты</a></h3>
          <div class="contacts-adress">
            <p>Россия, 125167, г. Москва,</p>
            <p>Ленинградский пр. д.39, стр.79</p>
          </div>
          <div class="contacts-phonenumber">
            <p>+7 (495) 725-63-47</p>
            <p><a href="mailto:pr@corp.mail.ru">pr@corp.mail.ru</a></p>
          </div>
          <div class="contacts-apps">
            <ul>
              <li class="contacts-apps-i1"><a href=""><span>Блог</span><i></i></a></li>
              <li class="contacts-apps-i2"><a href=""><span>Мой Мир</span><i></i></a></li>
              <li class="contacts-apps-i3"><a href=""><span>Twitter</span><i></i></a></li>
              <li class="contacts-apps-i4"><a href=""><span>Facebook</span><i></i></a></li>
              <li class="contacts-apps-i5"><a href=""><span>Хабрахабр</span><i></i></a></li>
              <li class="contacts-apps-i6"><a href=""><span>Instagram</span><i></i></a></li>
            </ul>
          </div>
          <!-- <h3 class="content-title"><a href="">Контакты</a></h3>
          <div class="col320">
            <strong>Адрес:</strong>
            <p>125167, г. Москва,</p>
            <p>Ленинградский проспект,</p>
            <p>д.39, стр.79</p>
            <a href="" class="contacts-link"></a>
            <div class="contacts-phone">+7 (495) 725-63-47</div>
            <div class="contacts-email">pr@corp.mail.ru</div>
          </div>
          <div class="col640">
            <ul>
              <li><a href=""><i class="icon-social icon-social-mail"></i>corp.mail.ru/blog/</a></li>
              <li><a href=""><i class="icon-social icon-social-fb"></i>www.facebook.com/<br>mailrugroup?fref=ts</a></li>
              <li><a href=""><i class="icon-social icon-social-comm"></i>my.mail.ru/community/mail_ru/</a></li>
              <li><a href=""><i class="icon-social icon-social-vk"></i>vk.com/mailru</a></li>
              <li><a href=""><i class="icon-social icon-social-twitter"></i>twitter.com/mailru</a></li>
              <li><a href=""><i class="icon-social icon-social-insta"></i>instagram.com/mailrugroup</a></li>
            </ul>
          </div> -->
        </div>
      </div>

      <div class="content-item" id="style">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Фирменный стиль</a></h3>
          <ul class="style">
            <li>
              <a href="">
                <div class="style-preview"><img src="images/pic-003.png" /></div>
                <div class="style-desc">Логотип</div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="style-preview"><img src="images/pic-004.png" /></div>
                <div class="style-desc">Цвета</div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="style-preview"><img src="images/pic-005.png" /></div>
                <div class="style-desc">Шрифты</div>
              </a>
            </li>
            <li>
              <a href="" class="style-preview style-plus"></a>
              <div class="style-desc">Все материалы</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
