<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li class="item-active"><a href="investors.html" do="no">Инвесторам</a></li>
            <li><a href="inner.html" do="no">Прессе</a></li>
            <li><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>

      <div class="header-slider">
        <div class="slider">
          <ul>
            <li class="slider-item slider-item_active">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>2: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-02.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-02-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>3: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
          </ul>
          <div class="slider-nav">
            <ul><li class="active"></li><li></li><li></li></ul>
          </div>
        </div>
      </div>


      <div class="header-menu first-active-menu">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">






            <li class="header-menu-item-1 "><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 "><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 "><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 "><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 "><a href="#" data-anchor=".-ifincontacts">Контакты</a></li>


          </ul>
        </div>
      </div>

    </header>

    <div id="content">
      <div class="content-item -ifinrel">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Информационные материалы</a></h3>
          <h4 class="content-title"><a href="">Новости</a></h4>
          <div class="layout">
            <div class="col650">
              <article>
                <img src="images/unused/026.jpg" />
                <div class="content-time">27.12.2012, Slon.ru</div>
                <a class="-a-title" href="">Агент получил новые темы</a>
                <p class="txt">12 апреля в коворкинге «Рабочая Станция» Парка Горького прошел второй Dribbble Meetup Russia.  На мероприятие, организованное Mail.Ru Group собралось более 300-сот участников отечественного Dribbble-сообщества и его известных игроков в качестве слушателей и рассказчиков.</p>
              </article>
              <div class="article">
                <div class="content-time">27.12.2012, Slon.ru</div><a href="" class="hasvideo"></a>
                <div class="clear"></div>
                <a class="-a-title" href="">Почти 90 процентов пользователей Рунета</a>
                <p class="txt _fll">87 процентов интернет-аудитории России составляют любители компьютерных игр, предающиеся своему любимому развлечению чаще одного раза в месяц, свидетельствуют результаты исследования "Игровой рынок в России", проведенного компанией Mail.ru.</p>
                <p class="txt _flr">Согласно исследованию, средний возраст геймера составляет 33 года, преимущественно это специалисты с высшим образованием и студенты (таких насчитывается 44 процента среди всех игроков). </p>
              </div>
            </div>
            <div class="col300 _flr -list">
              <ul>
                <li>
                  <span class="content-time">03.12.2012, МИР 24</span><a href="" class="hasvideo"></a>
                  <a href="">Как растет российский игровой рынок</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012, МИР 24</span><a href="" class="hasvideo"></a>
                  <a href="">Онлайн-шутер Warface установил рекорд Гиннесса</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012, МИР 24</span>
                  <a href="">Онлайн-шутер Warface установил рекорд Гиннесса</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012, МИР 24</span>
                  <a href="">Онлайн-шутер Warface установил рекорд Гиннесса</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012, МИР 24</span>
                  <a href="">Онлайн-шутер Warface установил рекорд Гиннесса</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="content-item -ifininfo">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Финансовая информация</a></h3>
          <div class="layout">
            <div class="col320">
              <h4 class="content-title"><a href="">Годовые отчеты</a></h4>
              <a href="" class="-ifininfo-year">2012</a>
            </div>
            <div class="col640">
              <h4 class="content-title"><a href="">Полугодовые отчеты</a></h4>
              <ul class="-ifininfo-parts">
                <li class="_fll"><a href="">Первое полугодие 2013</a></li>
                <li class="_flr"><a href="">Первое полугодие 2011</a></li>
                <li class="_fll"><a href="">Первое полугодие 2012</a></li>
                <li class="_flr"><a href="">Второе полугодие 2011</a></li>
                <li class="_fll"><a href="">Второе полугодие 2012</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="content-item content-item_color -ifincontrolers">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Корпоративное управление</a></h3>
          <h4 class="content-title"><a href="">Высшее руководство</a></h4>
          <div class="layout">
            <div class="col320">
              <img src="images/photos/003.png">
              <div class="management-name">Дмитрий Гришин</div>
              <p class="management-desc">Соучредитель, исполнительный директор (Россия) и председатель Совета директоров</p>
            </div>
            <div class="col320">
              <img src="images/photos/004.png">
              <div class="management-name">Владимир Никольский</div>
              <p class="management-desc">Операционный директор (Россия)</p>
            </div>
            <div class="col320">
              <img src="images/photos/005.png">
              <div class="management-name">Мэтью Хэммонд</div>
              <p class="management-desc">Соучредитель, исполнительный директор (Россия) и председатель Совета директоров</p>
            </div>
          </div>

          <h4 class="content-title"><a href="">Совет директоров</a></h4>
          <ul class="board">
            <li>
              <div class="management-name"><a href="" class="lnk-1">Дмитрий Гришин</a></div>
              <p class="management-desc">Соучредитель, исполнительный директор (Россия) и председател Совета директоров</p>
            </li>
            <li>
              <div class="management-name"><a href="" class="lnk-1">Верди Исраелян</a></div>
              <p class="management-desc">Директор</p>
            </li>
            <li>
              <div class="management-name"><a href="" class="lnk-1">Мэтью Хэммонд</a></div>
              <p class="management-desc">Управляющий директор, финансовый директор</p>
            </li>
            <li>
              <div class="management-name"><a href="" class="lnk-1">Владимир Стрешинский</a></div>
              <p class="management-desc">Директор</p>
            </li>
          </ul>
          <ul class="board">
            <li>
              <div class="management-name"><a href="" class="lnk-1">Борис Добродеев</a></div>
              <p class="management-desc">Директор</p>
            </li>
            <li>
              <div class="management-name"><a href="" class="lnk-1">Чарльз Сирл</a></div>
              <p class="management-desc">Директор</p>
            </li>
            <li>
              <div class="management-name"><a href="" class="lnk-1">Василиос Сгурдос</a></div>
              <p class="management-desc">Директор</p>
            </li>
            <li>
              <div class="management-name"><a href="" class="lnk-1">Марк Ремон Сорор</a></div>
              <p class="management-desc">Директор</p>
            </li>
          </ul>
          <ul class="board">
            <li>
              <div class="management-name"><a href="" class="lnk-1">Маркос Гальперин</a></div>
              <p class="management-desc">Независимый директор</p>
            </li>
            <li>
              <div class="management-name"><a href="" class="lnk-1">Сан Хун Ким</a></div>
              <p class="management-desc">Независимый директор</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="content-item -ifincapital">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Акции и акционерный капитал</a></h3>

          <div class="layout">
            <div class="col410">
              <h5 class="content-title">Структура акционерного капитала на 25.04.2013</h5>
              <img src="images/unused/028.png" />
            </div>
            <div class="col540 _flr">
              <img src="images/unused/027.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="content-item -ifinanalysts _analysts">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Аналитики</a></h3>
          <ul>
            <li>
              <div class="analysts-where">Альфа-Банк</div>
              <div class="analysts-item">
                <p><a href="" class="analysts-who">Юлий Матевосов</a></p>
                <p><a href="mailto:go@corp.mail.ru" class="analysts-mail">go@corp.mail.ru</a></p>
              </div>
            </li>
            <li>
              <div class="analysts-where">Bank of America - Merill Lynch</div>
              <div class="analysts-item">
                   <p><a href="" class="analysts-who">Мария Кан</a></p>
                   <p><a href="" class="analysts-mail">mariya.kahn@baml.com</a></p>
              </div>
            </li>
            <li>
              <div class="analysts-where">HSBC</div>
              <div class="analysts-item">
                <p><a href="" class="analysts-who">Jean Kaplan</a></p>
                <p><a href="" class="analysts-mail">jean.kaplan@hsbcib.com</a></p>
              </div>
              <div class="analysts-item">
                <p><a href="" class="analysts-who">Herve Drouet</a></p>
                <p><a href="" class="analysts-mail">herve.drouet@hsbcib.com</a></p>
              </div>
            </li>
            <li>
              <div class="analysts-where">HSBC</div>
              <div class="analysts-item">
                <p><a href="" class="analysts-who">Jean Kaplan</a></p>
                <p><a href="" class="analysts-mail">jean.kaplan@hsbcib.com</a></p>
              </div>
              <div class="analysts-item">
                <p><a href="" class="analysts-who">Herve Drouet</a></p>
                <p><a href="" class="analysts-mail">herve.drouet@hsbcib.com</a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="content-item content-item_color -ifincontacts">
        <div class="innerwidth2">
          <div class="layout">
            <div class="col720">
              <h3 class="content-title"><a href="">Контакты</a></h3>
              <div class="col240">
                <img src="images/photos/004.png" />
              </div>
              <div class="col480">
                <div class="-ifincontacts-name">Мэтью Хэммонд</div>
                <div class="-ifincontacts-special">Директор, управляющий директор</div>
                <div class="-ifincontacts-phone">+971 (0) 50 556 13 15</div>
                <div class="-ifincontacts-email">ir@corp.mail.ru</div>
              </div>
            </div>
            <div class="col240">
              <h4 class="content-title"><a href="">Уставные документы</a></h4>
              <ul class="-ifininfo-parts">
                <li><a href="">Устав</a></li>
                <li class="twolines"><a href="">Положение о совете директоров</a></li>
                <li><a href="">Кодекс деловой этики</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
