<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li submenu="1"><a href="mission.html" do="no">О компании</a></li>
            <li submenu="2"><a href="investors.html" do="no">Инвесторам</a></li>
            <li submenu="3"><a href="inner.html" do="no">Прессе</a></li>
            <li submenu="4" class="item-active"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>

	  <div class="header-menu first-active-menu" menu="4" id="submenu-4">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 _active" subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>

      <div class="header-menu" menu="2" id="submenu-2">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-1 " subtext="1"><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 " subtext="1"><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 " subtext="1"><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4 " subtext="1"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 " subtext="1"><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
          <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	<div class="header-menu" menu="1" id="submenu-1">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-7 " subtext="1"><a href="mission.html">Миссия</a></li>
            <li class="header-menu-item-8 " subtext="1"><a href="history.html">История</a></li>
            <li class="header-menu-item-9 " subtext="1"><a href="about-team.html">Руководство</a></li>
            <li class="header-menu-item-10 " subtext="1" ><a href="about-directions-1.html">Направления бизнеса</a></li>
            <li class="header-menu-item-11 " subtext="1"><a href="tech.html">Социальная ответственность</a></li>
            <li class="header-menu-item-12 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu" menu="3" id="submenu-3">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 " subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>


    </header>

    <div id="content">

      <div class="content-item" id="vacancy-ways">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Вакансии</a></h3>
          <div class="vacancy-tumbler">
            <a href="" class="vacancy-tumbler-active"><span>По направлениям</span></a>
            <a href=""><span>Другие</span></a>
          </div>
          <ul>
            <li class="item-1">
              <a href="">
                <span class="business-directions-title">Почта и портал</span>
              </a><s></s>
            </li>
            <li class="item-2 _active"><a href="">
              <span class="business-directions-title">Поиск и e-commerce</span>
            </a><s></s></li>
            <li class="item-3"><a href="">
              <span class="business-directions-title">Социальные сети</span>
            </a><s></s></li>
            <li class="item-4"><a href="">
              <span class="business-directions-title">Мессенджеры</span>
            </a><s></s></li>
            <li class="item-5"><a href="">
              <span class="business-directions-title">Игры</span>
            </a><s></s></li>
            <li class="line"></li>
          </ul>
        </div>
      </div>
      <div class="content-item content-item_color _withoutTitle _connected" id="condition-use">
        <div class="innerwidth2">
          <div class="col550">
            <p><em>Наша компания</em> - абсолютный лидер русскоязычного сегмента Сети в сфере онлайн-коммуникаций и развлечений.</p>
            <p>Работа в Mail.Ru Group – это прекрасные карьерные возможности для профессионалов и молодых специалистов, масштабные задачи и нестандартные решения, старт для талантов и широкое поле деятельности для профессионалов.</p>
          </div>
          <div class="col410">
            <p>Мы будем рады, если Вы станете частью нашей команды! Наши офисы находятся в следующих городах: Москва, Санкт-Петербург, Екатеринбург, Нижний Новгород, Новосибирск, Челябинск, Самара, Казань, Воронеж, Хабаровск, Киев, Рига, Гамбург, Тель-Авив  и др.</p>

            <p>Даже если вы не нашли для себя подходящей вакансии, мы всегда рады принять в свою команду целеустремленных, энергичных и инициативных людей, желающих работать и добиваться успехов в своей профессии. Просто пришлите резюме на <a href="mailto:hr@corp.mail.ru">hr@corp.mail.ru</a>!</p>
          </div>
        </div>
      </div>
      <div class="content-item content-item_color content-item_small" id="we-given">
        <div class="innerwidth2">
          <h3 class="content-title" style="font-family:PFBeauSansPro-Book"><a href="">Мы можем предложить</a></h3>
          <ul>
            <li>Работу в лидирующей российской интернет-компании</li>
            <li>Дополнительное медицинское страхование</li>
            <li>Возможность карьерного роста и профессионального развития</li>
            <li>Кандидатам из других городов компания обеспечивает помощь в переезде</li>
            <li>Оформление в соответствии с нормами Трудового законодательства</li>
          </ul>
        </div>
      </div>

      <div class="content-item content-item_color inner-events inner-events_2" id="vacancy-search">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Поиск вакансий</a></h3>
          <div class="col330">
            <ul class="vacancy-cats">
              <li class="_opened">
                <div class="vacancy-cats-name">По городам <i>14</i><b></b></div>
                <ul class="vacancy-cats-list _bycity">
                  <li class="_active"><a href="">Москва</a></li>
                  <li><a href="">Гамбург</a></li>
                  <li><a href="">Дубай</a></li>
                  <li><a href="">Тель-Авив</a></li>
                  <li><a href="">Санкт-петербург</a></li>
                  <li><a href="">Хабаровск</a></li>
                  <li><a href="">Челябинск</a></li>
                  <li><a href="">Волгоград</a></li>
                  <li><a href="">Воронеж</a></li>
                  <li><a href="">Екатеринбург</a></li>
                  <li><a href="">Иваново</a></li>
                  <li><a href="">Казань</a></li>
                  <li><a href="">Киев</a></li>
                  <li><a href="">Красноярск</a></li>
                  <li><a href="">Красноярск</a></li>
                </ul>
              </li>
              <li class="_opened">
                <div class="vacancy-cats-name">Специальности <i>77</i><b></b></div>
                <ul class="vacancy-cats-list">
                  <li><a href="">Информационные технологии, интернет, телеком  <i>118</i></a></li>
                  <li><a href="">Бухгалтерия, управленческий учет, финансы предприятия  <i>2</i></a></li>
                  <li><a href="">Маркетинг, реклама, PR <i>28</i></a></li>
                  <li><a href="">Банки, инвестиции, лизинг  <i>1</i></a></li>
                  <li class="_active"><a href="">Управление персоналом, тренинги  <i>4</i></a></li>
                  <li><a href="">Высший менеджмент  <i>1</i></a></li>
                  <li><a href="">Искусство, развлечения, масс-медиа  <i>30</i></a></li>
                  <li><a href="">Наука, образование  <i>3</i></a></li>
                  <li><a href="">Начало карьеры, студенты  <i>17</i></a></li>
                  <li><a href="">Продажи  <i>5</i></a></li>
                  <li><a href="">Юристы  <i>1</i></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col630">
            <div class="vacancy-searchInput"><input type="text" placeholder="Найти"><a href="">Найти</a></div>
            <h4><a href="" class="lnk">УПРАВЛЕНИЕ ПЕРСОНАЛОМ, ТРЕНИНГИ</a></h4>
            <ul class="vacancy-list">
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary _empty">з/п не указана</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary">80 000 р.</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Менеджер по лицензированию, Департамент внешней разработки</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary">80 000 р.</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary _empty">з/п не указана</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary">155 000 р.</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-item" id="jobs-end">
        <div class="innerwidth2">
          <span class="content-title"></span>
          <p>Если вы хотите работать в Mail.Ru Group, можете смело направлять нам свое резюме, даже если интересующей Вас вакансии нет в текущем списке — <a href="mailto:hr@corp.mail.ru">hr@corp.mail.ru</a></p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
