<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li><a href="investors.html" do="no">Инвесторам</a></li>
            <li><a href="inner.html" do="no">Прессе</a></li>
            <li class="item-active"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>

      <div class="header-slider">
        <div class="slider">
          <ul>
            <li class="slider-item slider-item_active">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>2: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-02.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-02-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>3: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
          </ul>
          <div class="slider-nav">
            <ul><li class="active"></li><li></li><li></li></ul>
          </div>
        </div>
      </div>


      <div class="header-menu first-active-menu">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 " subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>

    </header>

    <div id="content">
      <div class="content-item" id="condition-use">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Условия работы</a></h3>
          <div class="col550">
            <p><em>Наша компания</em> - абсолютный лидер русскоязычного сегмента Сети в сфере онлайн-коммуникаций и развлечений.</p>
            <p>Работа в Mail.Ru Group – это прекрасные карьерные возможности для профессионалов и молодых специалистов, масштабные задачи и нестандартные решения, старт для талантов и широкое поле деятельности для профессионалов.</p>
          </div>
          <div class="col410">
            <p>Мы будем рады, если Вы станете частью нашей команды! Наши офисы находятся в следующих городах: Москва, Санкт-Петербург, Екатеринбург, Нижний Новгород, Новосибирск, Челябинск, Самара, Казань, Воронеж, Хабаровск, Киев, Рига, Гамбург, Тель-Авив  и др.</p>

            <p>Даже если вы не нашли для себя подходящей вакансии, мы всегда рады принять в свою команду целеустремленных, энергичных и инициативных людей, желающих работать и добиваться успехов в своей профессии. Просто пришлите резюме на <a href="mailto:hr@corp.mail.ru">hr@corp.mail.ru</a>!</p>
          </div>
        </div>
      </div>

      <div class="content-item" id="vacancy-ways">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Вакансии по направлениям</a></h3>
          <ul>
            <li class="item-1 _active">
              <a href="">
                <span class="business-directions-title">Почта и портал</span>
              </a><s></s>
            </li>
            <li class="item-2"><a href="">
              <span class="business-directions-title">Поиск и e-commerce</span>
            </a><s></s></li>
            <li class="item-3"><a href="">
              <span class="business-directions-title">Социальные сети</span>
            </a><s></s></li>
            <li class="item-4"><a href="">
              <span class="business-directions-title">Мессенджеры</span>
            </a><s></s></li>
            <li class="item-5"><a href="">
              <span class="business-directions-title">Игры</span>
            </a><s></s></li>
            <li class="line"></li>
          </ul>
        </div>
      </div>
      <div class="content-item content-item_color content-item_small" id="hot-vacancies">
        <div class="innerwidth2">
          <h3 class="content-title" style="font-family:PFBeauSansPro-Book"><a href="">Горячие вакансии</a></h3>
          <div class="content-subtitle">Если вы хотите работать в Mail.Ru Group, направляйте нам свое резюме — <strong>hr@corp.mail.ru</strong></div>
          <ul class="clearboth">
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="vacancy.html">Дизайнер интерфейсов проекта Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Социальные сети</div>
              <div class="hot-vacancies-title"><a href="vacancy.html">Разработчик J2EE (web-портал), проект Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="vacancy.html">Java-разработчик (серверная часть), проект Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="vacancy.html">Дизайнер интерфейсов проекта Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Социальные сети</div>
              <div class="hot-vacancies-title"><a href="vacancy.html">Менеджер по лицензированию, Департамент внешней разработки</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="vacancy.html">Cекретарь приемной руководителя</a></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="content-item content-item_small hot-vacancies" id="other-vacancies">
        <div class="innerwidth2">
          <h3 class="content-title" style="font-family:PFBeauSansPro-Book"><a href="">Другие вакансии</a></h3>
          <ul class="clearboth">
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Cекретарь приемной руководителя</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Социальные сети</div>
              <div class="hot-vacancies-title"><a href="">Разработчик J2EE (web-портал), проект Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Директор по развитиюДиректор по развитиюДиректор по развитиюДиректор по развитиюДиректор по развитию</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Маркетолог</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Социальные сети</div>
              <div class="hot-vacancies-title"><a href="">Менеджер по лицензированию, Департамент внешней разработки, третья строка пусть будет</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Директор по развитию</a></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="content-item" id="interns">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Стажерам</a></h3>
          <div class="col640">
            <p>Учебно-практический центр, созданный Mail.Ru Group и МГТУ им. Н.Э. Баумана. Программа Технопарка охватывает широкий спектр тем – от базовых, таких как алгоритмы и структуры данных, до тонкостей разработки приложений для мобильных платформ. Лекции и семинары дополняются реальными задачами, с которыми сталкиваются веб-разработчики одной из крупнейших интернет-компаний Европы – Mail.Ru Group.</p>
          </div>
          <a href="" class="nextlink">Что мы можем предложить молодым специалистам</a>
          <div class="col320">
            <a href="">
              <img src="images/unused/020.jpg" />
              <span>Форум Стажеров<br>Mail.Ru Group</span>
            </a>
          </div>
        </div>
      </div>

      <div class="content-item inner-events" id="development-inside">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Развитие в Mail.RuGroup</a></h3>
          <div class="col640">
            <a href="" class="ievents-item">
              <div class="ievents-cover"><img src="images/unused/014.jpg" /></div>
              <div class="ievents-content ievents-content_blue">
                <div class="ievents-date"><b>12</b> февраля</div>
                <div class="ievents-title">Mobile Developer Business Days<br>Russia 2012</div>
                <div class="ievents-description">Мероприятие для разработчиков и заказчиков мобильных приложений</div>
                <span href="" class="ievents-nextlink"></span>
              </div>
              <b class="ievents-bg"></b>
            </a>
          </div>
          <div class="col320">
            <ul class="ievents-list">
              <li>
                <div class="ievents-list-cover"><img src="images/unused/015.jpg" /></div>
                <a href="" class="ievents-list-content ievents-content_blue">
                  <b class="ievents-bg"></b>
                  <span class="ievents-date"><b>12</b> февраля</span>
                  <span class="ievents-list-title">UX-Среда №15</span>
                </a>
              </li>
              <li>
                <div class="ievents-list-cover"><img src="images/unused/016.jpg" /></div>
                <a href="" class="ievents-list-content ievents-content_green">
                  <b class="ievents-bg"></b>
                  <span class="ievents-date"><b>12</b> февраля</span>
                  <span class="ievents-list-title">Месть Соверинга»:<br>разработка и продвижение</span>
                </a>
              </li>
              <li>
                <div class="ievents-list-cover"><img src="images/unused/017.jpg" /></div>
                <a href="" class="ievents-list-content ievents-content_red">
                  <b class="ievents-bg"></b>
                  <span class="ievents-date"><b>12</b> февраля</span>
                  <span class="ievents-list-title">Форум Технологий  Mail.Ru Group</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-item content-item_color" id="jobs-end">
        <div class="innerwidth2">
          <span class="content-title"></span>
          <p>Если вы хотите работать в Mail.Ru Group, можете смело направлять нам свое резюме, даже если интересующей Вас вакансии нет в текущем списке — <a href="mailto:hr@corp.mail.ru">hr@corp.mail.ru</a></p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
