<body class='inner navType-02'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li><a href="investors.html" do="no">Инвесторам</a></li>
            <li><a href="inner.html" do="no">Прессе</a></li>
            <li class="item-active"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>


      <div class="header-menu first-active-menu">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">



            <li class="header-menu-item-1 _active"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-2 "><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-3 "><a href="#development-inside">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-4 "><a href="#jobs-end">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-5 "><a href="company-contacts.html">Контакты</a></li>





          </ul>
        </div>
      </div>

    </header>

    <div id="content">

      <div class="content-item inner-events _posrel _info-02" id="vacancy-search">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Поиск вакансий</a></h3>
          <div class="vacancy-tumbler">
            <a href="" class="vacancy-tumbler-active"><span>По направлениям</span></a>
            <a href=""><span>Другие</span></a>
          </div>
          <div class="col330">
            <ul class="vacancy-cats">
              <li class="_opened">
                <div class="vacancy-cats-name">По городам <i>14</i><b></b></div>
                <ul class="vacancy-cats-list _bycity">
                  <li class="_active"><a href="">Москва</a></li>
                  <li><a href="">Гамбург</a></li>
                  <li><a href="">Дубай</a></li>
                  <li><a href="">Тель-Авив</a></li>
                  <li><a href="">Санкт-петербург</a></li>
                  <li><a href="">Хабаровск</a></li>
                  <li><a href="">Челябинск</a></li>
                  <li><a href="">Волгоград</a></li>
                  <li><a href="">Воронеж</a></li>
                  <li><a href="">Екатеринбург</a></li>
                  <li><a href="">Иваново</a></li>
                  <li><a href="">Казань</a></li>
                  <li><a href="">Киев</a></li>
                  <li><a href="">Красноярск</a></li>
                </ul>
              </li>
              <li class="_opened">
                <div class="vacancy-cats-name">Специальности <i>77</i><b></b></div>
                <ul class="vacancy-cats-list">
                  <li><a href="">Информационные технологии, интернет, телеком  <i>118</i></a></li>
                  <li><a href="">Бухгалтерия, управленческий учет, финансы предприятия  <i>2</i></a></li>
                  <li><a href="">Маркетинг, реклама, PR <i>28</i></a></li>
                  <li><a href="">Банки, инвестиции, лизинг  <i>1</i></a></li>
                  <li class="_active"><a href="">Управление персоналом, тренинги  <i>4</i></a></li>
                  <li><a href="">Высший менеджмент  <i>1</i></a></li>
                  <li><a href="">Искусство, развлечения, масс-медиа  <i>30</i></a></li>
                  <li><a href="">Наука, образование  <i>3</i></a></li>
                  <li><a href="">Начало карьеры, студенты  <i>17</i></a></li>
                  <li><a href="">Продажи  <i>5</i></a></li>
                  <li><a href="">Юристы  <i>1</i></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col630">
            <div class="vacancy-searchInput"><input type="text" placeholder="Найти"><a href="">Найти</a></div>
            <h4><a href="" class="lnk">УПРАВЛЕНИЕ ПЕРСОНАЛОМ, ТРЕНИНГИ</a></h4>
            <ul class="vacancy-list">
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary _empty">з/п не указана</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary">80 000 р.</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Менеджер по лицензированию, Департамент внешней разработки</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary">80 000 р.</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary _empty">з/п не указана</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
              <li class="vacancy-item">
                <div class="vacancy-item-info">
                  <div class="vacancy-item-date">18.12.2012</div>
                  <a href="vacancy.html" class="vacancy-item-name">Cекретарь приемной руководителя</a>
                  <div class="vacancy-item-where">Mail.Ru Group, Бэк-офис</div>
                </div>
                <div class="vacancy-item-salary">155 000 р.</div>
                <div class="vacancy-item-city">Санкт-Петербург</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-item content-item_color" id="jobs-end">
        <div class="innerwidth2">
          <span class="content-title"></span>
          <p>Если вы хотите работать в Mail.Ru Group, можете смело направлять нам свое резюме, даже если интересующей Вас вакансии нет в текущем списке — <a href="mailto:hr@corp.mail.ru">hr@corp.mail.ru</a></p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
