  <body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li submenu="1"><a href="mission.html" do="no">О компании</a></li>
            <li submenu="2"><a href="investors.html" do="no">Инвесторам</a></li>
            <li submenu="3"><a href="inner.html" do="no" >Прессе</a></li>
            <li><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>


      <div class="header-menu header-menu-submenu" menu="2" id="submenu-2">
        <div class="header-menu-left" style="width:auto"></div>
        <div class="header-menu-right" style="width:auto"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-1 " subtext="1"><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 " subtext="1"><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 " subtext="1"><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4 " subtext="1"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 " subtext="1"><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	<div class="header-menu header-menu-submenu" menu="1" id="submenu-1">
        <div class="header-menu-left" style="width:auto"></div>
        <div class="header-menu-right" style="width:auto"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-7 " subtext="1"><a href="mission.html">Миссия</a></li>
            <li class="header-menu-item-8 " subtext="1"><a href="history.html">История</a></li>
            <li class="header-menu-item-9 " subtext="1"><a href="about-team.html">Руководство</a></li>
            <li class="header-menu-item-10 " subtext="1" ><a href="about-directions-1.html">Направления бизнеса</a></li>
            <li class="header-menu-item-11 " subtext="1"><a href="tech.html">Социальная ответственность</a></li>
            <li class="header-menu-item-12 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu header-menu-submenu" menu="3" id="submenu-3">
        <div class="header-menu-left" style="width:auto"></div>
        <div class="header-menu-right" style="width:auto"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 " subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu header-menu-submenu" menu="4" id="submenu-4">
        <div class="header-menu-left" style="width:auto"></div>
        <div class="header-menu-right" style="width:auto"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 " subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

      <div class="header-slider header-slider-main">
        <div class="slider">
          <ul>
            <li class="slider-item slider-item_active">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="press-about-2.html" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="press-about-2.html" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>2: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-02.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-02-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="press-about-2.html" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>3: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
          </ul>
          <div class="slider-nav">
            <ul><li class="active"></li><li></li><li></li></ul>
          </div>
        </div>
      </div>
    </header>
    <div id="content" class="content-up">
      <div class="content-item content-item_color" id="business-directions">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Направления бизнеса</a></h3>
          <ul>
            <li class="item-1">
              <a href="about-directions-1.html">
                <span class="business-directions-title">Почта и портал</span>
                <span class="business-directions-content">
                  <b>100 млн</b>
                  <i>активных аккаунтов</i>
                </span>
              </a><s></s>
            </li>
            <li class="item-2"><a href="about-directions-2.html">
              <span class="business-directions-title">Поиск и e-commerce</span>
              <span class="business-directions-content">
                <b>80 млн</b>
                <i>просмотров главной страницы</i>
              </span>
            </a><s></s></li>
            <li class="item-3"><a href="about-directions-3.html">
              <span class="business-directions-title">Социальные сети</span>
              <span class="business-directions-content">
                <b>23 млн</b>
                <i>пользователей в России в месяц</i>
              </span>
            </a><s></s></li>
            <li class="item-4"><a href="about-directions-4.html">
              <span class="business-directions-title">Мессенджеры</span>
              <span class="business-directions-content">
                <b>21 млн</b>
                <i>пользователей в мире</i>
              </span>
            </a><s></s></li>
            <li class="item-5"><a href="about-directions-5.html">
              <span class="business-directions-title">Игры</span>
              <span class="business-directions-content">
                <b>150 млн</b>
                <i>установок игр</i>
              </span>
            </a><s></s></li>
          </ul>
        </div>
      </div>

      <div class="content-item" id="our-news">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Наши новости</a></h3>
          <div class="video">
            <ul>
              <li class="video-main">
                <a href="" do="no">
                  <img src="images/unused/005.jpg" /><i></i>
                  <span>Интервью с Дмитрием Гришиным</span>
                  <b></b>
                </a>
                <div class="video-bottom"></div>
                <div class="video-bottom-right"></div>
              </li>
              <li class="video-item">
                <a href="">
                  <img src="images/unused/002.jpg" />
                  <span class="video-item-name">Юрий Ветров</span>
                  <i></i><b></b>
                </a>
              </li>
              <li class="video-item">
                <a href="">
                  <img src="images/unused/002.jpg" />
                  <span class="video-item-name">Юрий Ветров</span>
                  <i></i><b></b>
                </a>
              </li>
              <li class="video-item">
                <a href="">
                  <img src="images/unused/002.jpg" />
                  <span class="video-item-name">Юрий Ветров</span>
                  <i></i><b></b>
                </a>
              </li>
              <li class="video-item">
                <a href="">
                  <img src="images/unused/002.jpg" />
                  <span class="video-item-name">Юрий Ветров</span>
                  <i></i><b></b>
                </a>
              </li>
            </ul>
          </div>
          <div class="videolist">
            <ul>
              <li>
                <time datetime="2013-02-27">27.02.2013</time>
                <a href="">В Москве создадут новые сервисы за 48 часов</a>
              </li>
              <li>
                <time datetime="2013-02-27">27.02.2013</time>
                <a href="">Предварительные результаты за 2012 финансовый год</a>
              </li>
              <li>
                <time datetime="2013-02-27">27.02.2013</time>
                <a href="">В офисе Mail.Ru Group пройдет очередная конференция CocoaHeads</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-item content-item_small" id="events">
        <div class="innerwidth2">
          <h3 class="content-title" style="font-family:PFBeauSansPro-Book"><a href="">Мероприятия</a></h3>
          <ul>
            <li class="item-1">
              <a href="">
                <img src="images/unused/006.jpg" />
                <div class="event-date"><b>27</b> февраля</div>
                <div class="event-title">UX-Среда №15</div>
                <b class="bg"></b>
              </a>
            </li>
            <li class="item-2">
              <a href="">
                <img src="images/unused/007.jpg" />
                <div class="event-date"><b>15</b> марта</div>
                <div class="event-title">Месть Соверинга»: <br>разработка и продвижение</div>
                <b class="bg"></b>
              </a>
            </li>
            <li class="item-3">
              <a href="">
                <img src="images/unused/008.jpg" />
                <div class="event-date"><b>9</b> июня</div>
                <div class="event-title">Форум Технологий <br>Mail.Ru Group</div>
                <b class="bg"></b>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="content-item" id="analytics">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Аналитика</a></h3>
          <div class="analytics-chart">
            <a href="" class="analytics-chart-preview">
              <img src="images/unused/009.jpg" />
              <img src="images/unused/021.jpg" />
              <b></b>
              <i class="icon-play-b"></i>
              <time datetime="2012-11-22">22.11.2012</time>
              <span class="txt-title">График роста за полугодие</span>
            </a>
          </div>
          <div class="analytics-number">
            <span><b>64</b>млн —</span>
            <p>количество новых зарегистрированных пользователей Mail.Ru Агент за год</p>
          </div>
          <div class="analytics-docs">
            <ul>
              <li class="doctype-pdf">
                <a href="">
                  <time datetime="2012-11-22">22.11.2012</time>
                  <span>Отчет Mail.Ru Group за 2012 год</span>
                </a>
              </li>
              <li class="doctype-pdf">
                <a href="">
                  <time datetime="2012-11-22">22.11.2012</time>
                  <span>Аналитика: Рост пользователей “Агента”</span>
                </a>
              </li>
              <li class="doctype-pdf">
                <a href="">
                  <time datetime="2012-11-22">22.11.2012</time>
                  <span>Инфографика по мобильным приложениям</span>
                </a>
              </li>
              <li class="doctype-doc">
                <a href="">
                  <time datetime="2012-11-22">22.11.2012</time>
                  <span>Отчет Mail.Ru Group за 2012 го</span>
                </a>
              </li>
              <li class="doctype-doc">
                <a href="">
                  <time datetime="2012-11-22">22.11.2012</time>
                  <span>Аналитика: Рост пользователей “Агента”</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-item content-item_color" id="our-blog">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Наш блог</a></h3>
          <div class="col320 blog-article">
            <a href="" class="blog-article-comments"><b>155</b></a>
            <time datetime="2013-04-12-16-06-00">12 апреля 2013, 16:06</time>
            <span class="blog-article-title"><a href="" class="txt-title">Dribbble Meetup Russia-2013: фото</a></span>
            <p>12 апреля в коворкинге «Рабочая Станция» Парка Горького прошел второй Dribbble Meetup Russia.  На мероприятие, организованное Mail.Ru Group собралось более 300-сот участников отечественного Dribbble-сообщества и его известных игроков в качестве слушателей и рассказчиков.</p>
          </div>
          <div class="col320 blog-list">
            <ul>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <a href="" class="blog-list-comments">12 комментариев</a>
                <a href="" class="blog-list-title">Mail.Ru Group на РИФ-2013</a>
              </li>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <a href="" class="blog-list-comments">157 комментариев</a>
                <a href="" class="blog-list-title">Приходите на CodeFreeze с Робертом Лукшей, менеджером проекта «Одноклассники»</a>
              </li>
              <li>
                <time datetime="2013-04-12-16-06-00">18.12.2012, 18:29</time>
                <a href="" class="blog-list-comments">3 комментария</a>
                <a href="" class="blog-list-title">Темы оформления. С блэк-джеком и WeakReference </a>
              </li>
            </ul>
          </div>
          <div class="col320 blog-quote" style="float:right">
            <div class="blog-quote-author"><strong>Денис Аникин,</strong> технический директор<br> Почты Mail.Ru</div>
            <img alt="Денис Аникин" class="blog-quote-pic" src="images/pic-001.png" />
            <blockquote>Я никогда раньше не работал с такими сильными разработчиками. Хочешь работать среди лучших? Присоединяйся к нашей команде.</blockquote>
            <i><!--Bottom quote--></i>
          </div>
		  <div style="clear:both">
        </div>
      </div>

      <div class="content-item content-item_color content-item_small" id="hot-vacancies" style="margin-top:40px;padding-top: 0;margin-bottom:55px">
        <div class="innerwidth2" style="border-top:2px solid #ccd6e3;padding-top: 50px;">
          <h3 class="content-title" style="font-family:PFBeauSansPro-Book"><a href="">Горячие вакансии</a></h3>
          <div class="content-subtitle">Если вы хотите работать в Mail.Ru Group, направляйте нам свое резюме — <a href="mailto:hr@corp.mail.ru">hr@corp.mail.ru</a></div>
          <ul class="clearboth">
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Дизайнер интерфейсов проекта Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Социальные сети</div>
              <div class="hot-vacancies-title"><a href="">Разработчик J2EE (web-портал), проект Skyforge</a></div>
            </li>
            <li class="col322">
              <div class="hot-vacancies-employer">Портал Mail.Ru</div>
              <div class="hot-vacancies-title"><a href="">Java-разработчик (серверная часть), проект Skyforge</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

      <div class="content-item content-item_color content-item_small" id="our-life">
        <div class="innerwidth2">
          <h3 class="content-title" style="font-family:PFBeauSansPro-Book"><a href="">Жизнь в Mail.ru Group</a></h3>
        </div>
        <div class="galery">
          <ul>
            <li><img src="images/unused/010.jpg" /><b></b></li>
            <li><img src="images/unused/011.jpg" /><b></b></li>
            <li><img src="images/unused/012.jpg" /><b></b></li>
            <li><img src="images/unused/010.jpg" /><b></b></li>
            <li><img src="images/unused/011.jpg" /><b></b></li>
            <li><img src="images/unused/012.jpg" /><b></b></li>
            <li><img src="images/unused/010.jpg" /><b></b></li>
            <li><img src="images/unused/011.jpg" /><b></b></li>
            <li><img src="images/unused/012.jpg" /><b></b></li>
            <li><img src="images/unused/010.jpg" /><b></b></li>
            <li><img src="images/unused/011.jpg" /><b></b></li>
            <li><img src="images/unused/012.jpg" /><b></b></li>
          </ul>
          <div class="galery-left"></div>
          <div class="galery-right"></div>
        </div>
      </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li>
              <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li>
              <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li>
              <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
