<body class='inner navType-04'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li><a href="mission.html" do="no">О компании</a></li>
            <li><a href="investors.html" do="no">Инвесторам</a></li>
            <li><a href="inner.html" do="no">Прессе</a></li>
            <li><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li class="item-active"><a href="" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>

      <div class="header-slider">
        <div class="slider">
          <ul>
            <li class="slider-item slider-item_active">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>2: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-02.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-02-b.jpg" /></div>
            </li>
            <li class="slider-item">
              <div class="slider-item-content">
                <div class="slider-item-content-text">
                  <time datetime="2013-12-27">27.12.2013</time>
                  <a href="" class="slider-item-title">Mail.Ru Group выбрала имя<br>для глобального развития</a>
                  <p>3: Mail.Ru Group озвучила все основные события сезона врамках мероприятия “Mail.Ru Group: Update”.</p>
                </div>
              </div>
              <div class="slider-item-cover"><img src="images/slider-01.jpg" /></div>
              <div class="slider-item-bg"><img src="images/slider-01-b.jpg" /></div>
            </li>
          </ul>
          <div class="slider-nav">
            <ul><li class="active"></li><li></li><li></li></ul>
          </div>
        </div>
      </div>


      <div class="header-menu first-active-menu">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">





            <li class="header-menu-item-1 _active"><a href="#partners-startup">Стартапам</a></li>
            <li class="header-menu-item-2 "><a href="#partners-mobile">РАЗРАБОТЧИКАМ МОБИЛЬНЫХ ПРИЛОЖЕНИЙ</a></li>



          </ul>
        </div>
      </div>

    </header>

    <div id="content">

      <div class="content-item" id="partners-startup">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Стартапам</a></h3>
          <div class="col320">
            <p>Mail.Ru Group сегодня – крупнейшая интернет-компания в русскоязычном сегменте сети, в состав которой входит лидирующий почтовый сервис, мессенджеры Mail.Ru Агент и ICQ, социальные сети Одноклассники и Мой Мир, портфолио всемирно известных онлайн-игр и большое количество других известных проектов. Каждый месяц на страницы Mail.Ru Group заходят 40,5 миллионов человек.</p>
            <p>В нашей команде уже работают 2 450 человек в 16 офисах по всему миру. В ноябре 2010 года Mail.Ru Group стала первой российской интернет-компанией с листингом на основной площадке международной биржи (London Stock Exchange).</p>
            <p>Но еще 13 лет назад ничего этого не было, даже самого портала Mail.Ru. Был лишь недавно запустившийся бесплатный почтовый сервис, разработанный несколькими талантливыми программистами</p>
          </div>
          <div class="col640">
            <div class="partners-number-1"><b>2450</b>человек</div>
            <div class="partners-number-2"><b>16</b>офисов <br>по всему миру</div>
          </div>
        </div>
      </div>
      <div class="content-item content-item_color" id="partners-mobile">
        <div class="innerwidth2">
          <h3 class="content-title"><a href="">Разработчикам мобильных приложений</a></h3>
          <div class="col460 partners-mobile-item-1">
            <h4 class="content-title"><a href="">Продюсирование игр</a></h4>
            <p>В Mail.Ru Group трудятся лучшие специалисты в области продюсирования. Мы готовы подключиться к созданию игры на любом этапе — от разработки концепции до запуска. Всесторонняя помощь включает в себя не только консультации по поводу дизайна уровней, тестирования и отладке геймплея, но и создание музыкального и звукового оформления, текстов, а также полная локализация игры для иностранных рынков.</p>
          </div>
          <div class="col460 partners-mobile-item-2">
            <h4 class="content-title"><a href="">Авансирование игровых продуктов</a></h4>
            <p>Мы уверены: отличные игры получаются у тех команд, которые полностью погружены в процесс создания своего продукта. Поэтому все административные вопросы мы берем на себя. Как издатель мы практикуем индивидуальный подход к работе с каждой командой разработчиков.</p>
            <p>Мы подберем самую выгодную и гибкую схему сотрудничества, чтобы вы смогли сделать настоящий хит.</p>
          </div>
        </div>
      </div>

      <div class="content-item _full" id="jobs-end">
        <div class="innerwidth2">
          <p>Наши контакты: <a href="">publishing@corp.mail.ru</a></p>
        </div>
      </div>

    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
