<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li submenu="1"><a href="mission.html" do="no">О компании</a></li>
            <li submenu="2"><a href="investors.html" do="no">Инвесторам</a></li>
            <li submenu="3" class="item-active"><a href="inner.html" do="no">Прессе</a></li>
            <li submenu="4"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>

	  <div class="header-menu first-active-menu" menu="3" id="submenu-3">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 _active" subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
        </div>
      </div>

      <div class="header-menu" menu="2" id="submenu-2">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-1 " subtext="1"><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 " subtext="1"><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 " subtext="1"><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4 " subtext="1"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 " subtext="1"><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
          <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	<div class="header-menu" menu="1" id="submenu-1">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-7 " subtext="1"><a href="mission.html">Миссия</a></li>
            <li class="header-menu-item-8 " subtext="1"><a href="history.html">История</a></li>
            <li class="header-menu-item-9 " subtext="1"><a href="about-team.html">Руководство</a></li>
            <li class="header-menu-item-10 " subtext="1" ><a href="about-directions-1.html">Направления бизнеса</a></li>
            <li class="header-menu-item-11 " subtext="1"><a href="tech.html">Социальная ответственность</a></li>
            <li class="header-menu-item-12 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu" menu="4" id="submenu-4">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 " subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

    </header>

    <div id="content" class="_press-aboutus _press-aboutus-list">
      <div class="content-item">
        <div class="innerwidth2">
          <h3 class="content-title _fll"><a href="">Пресса о нас</a></h3>
          <div class="_flr">
            <div class="input-wrap _fll">
              <input type="text" style="height:27px" placeholder="Поиск">
              <a href="">Найти</a>
            </div>
            <!-- <div class="vacancy-searchInput _fll"><input type="text" placeholder="Найти"><a href="">Найти</a></div> -->
            <div class="select _maleft _extended _fll">
              <div class="select-name"><span>По источнику</span></div>
              <div class="select-list">
                <ul>
                  <li><a href="" do="no">По правилу</a></li>
                  <li><a href="" do="no">По правилу</a></li>
                  <li><a href="" do="no">По правилу</a></li>
                  <li><a href="" do="no">По правилу</a></li>
                  <li><a href="" do="no">По правилу</a></li>
                </ul>
              </div>
            </div>
            <div class="select _maleft _fll">
              <div class="select-name"><b>2013</b></div>
              <div class="select-list">
                <ul>
                  <li class="_devided"><a href="" do="no">2012</a></li>
                  <li class="_devided"><a href="" do="no">2011</a></li>
                  <li class="_devided"><a href="" do="no">2010</a></li>
                  <li class="_devided"><a href="" do="no">2009</a></li>
                  <li class="_devided"><a href="" do="no">2008</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearbefore"></div>
          <div class="layout">
            <div class="col640" >
              <div class="aboutuslist-item">
                <div class="content-meta">27.12.2012, Slon.ru</div>
                <div class="content-head"><a href="press-about-2.html">Инфографика: объем рынка видеоигр в России – $1,3 млрд</a></div>
                <div class="content-cont">
                  <p>Mail.ru Group выпустила сравнительное исследование российского игрового рынка за 2010–2012 годы: его оборот составил $1,3 млрд</p>
                </div>
              </div>
              <div class="aboutuslist-item">
                <div class="content-meta">27.12.2012, Slon.ru</div>
                <div class="content-head"><a href="press-about-2.html">Российский рынок компьютерных игр вырос в 1,5 раза</a></div>
                <div class="content-cont">
                  <p>Москва, 10 июня. Компьютерные игры становятся у россиян все популярнее. За последние годы этот рынок вырос в полтора раза и превысил миллиард долларов...</p>
                </div>
              </div>
              <div class="aboutuslist-item">
                <div class="content-meta">27.12.2012, Slon.ru<a href="" class="hasvideo"></a></div>
                <div class="content-head"><a href="press-about-2.html">Почти 90 процентов пользователей Рунета играют в игры</a></div>
                <div class="content-cont">
                  <p>Mail.ru Group выпустила сравнительное исследование российского игрового рынка за 2010–2012 годы: его оборот составил $1,3 млрд</p>
                </div>
              </div>
              <div class="aboutuslist-item">
                <div class="content-meta">27.12.2012, Slon.ru</div>
                <div class="content-head"><a href="press-about-2.html">Mail.Ru Games запускает мобильную игру «Эволюция»</a></div>
                <div class="content-cont">
                  <p>Mail.Ru Games готовит к выходу «Эволюцию» — новую бесплатную игру ААА-класса для мобильных платформ.</p>
                </div>
              </div>
              <div class="aboutuslist-item">
                <div class="content-meta">27.12.2012, Slon.ru</div>
                <div class="content-head"><a href="press-about-2.html">Объем рынка онлайн-игр в России достиг 900 млн долларов</a></div>
                <div class="content-cont">
                  <p>Оборот российского игрового рынка в 2012 году продолжил расти и достиг 1,3 млрд долл. За два года он продемонстрировал рост...</p>
                </div>
              </div>
              <div class="aboutuslist-item">
                <div class="content-meta">27.12.2012, Slon.ru</div>
                <div class="content-head _line4"><a href="press-about-2.html">Инфографика: объем рынка видеоигр в России – $1,3 млрд</a></div>
                <div class="content-cont">
                  <p>Mail.ru Group выпустила сравнительное исследование российского игрового рынка за 2010–2012 годы: его оборот составил $1,3</p>
                </div>
              </div>
            </div>
            <div class="col320" id="float" offset="280">
              <ul>
                <li>
                  <span class="content-time">03.12.2012, МИР 24</span><a href="press-about-2.html" class="hasvideo"></a>
                  <a href="">Как растет российский игровой рынок</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012, Slon.ru</span>
                  <a href="press-about-2.html">Онлайн-шутер Warface установил рекорд Гиннесса</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012 / Коммерсант</span>
                  <a href="press-about-2.html">Жители СНГ предпочитают онлайн-игры кинофильмам</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012 / МИР 24</span>
                  <a href="press-about-2.html">Игровая индустрия обогнала кинопрокат в России и СНГ</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012 / Slon.ru</span>
                  <a href="press-about-2.html">Warface как вершина эволюции оловянного солдатика</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012 / Коммерсант</span>
                  <a href="press-about-2.html">Игры@Mail.Ru определят лучшую игру 2012 года</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012 / МИР 24</span>
                  <a href="press-about-2.html">Почти 40 миллионов россиян играют в компьютерные и видеоигры</a>
                </li>
                <li>
                  <span class="content-time">03.12.2012 / Slon.ru</span>
                  <a href="press-about-2.html">Кастомный «ХАРЛЕЙ» стал героем видеоролика про «Аллоды Онлайн»</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pages">
            <a href="" class="_current">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
            <a href="">7</a>
            <a href="">8</a>
            <a href="">9</a>
            <a href="">10</a>
          </div>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
