<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li submenu="1" class="item-active"><a href="mission.html" do="no">О компании</a></li>
            <li submenu="2"><a href="investors.html" do="no">Инвесторам</a></li>
            <li submenu="3"><a href="inner.html" do="no">Прессе</a></li>
            <li submenu="4"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>


	<div class="header-menu first-active-menu" menu="1" id="submenu-1">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-7 " subtext="1"><a href="mission.html">Миссия</a></li>
            <li class="header-menu-item-8 " subtext="1"><a href="history.html">История</a></li>
            <li class="header-menu-item-9 " subtext="1"><a href="about-team.html">Руководство</a></li>
            <li class="header-menu-item-10 " subtext="1" ><a href="about-directions-1.html">Направления бизнеса</a></li>
            <li class="header-menu-item-11 _active" subtext="1"><a href="tech.html">Социальная ответственность</a></li>
            <li class="header-menu-item-12 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>

      <div class="header-menu" menu="2" id="submenu-2">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-1 " subtext="1"><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 " subtext="1"><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 " subtext="1"><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4 " subtext="1"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 " subtext="1"><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
          <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>


	  <div class="header-menu" menu="3" id="submenu-3">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 " subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu" menu="4" id="submenu-4">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 " subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

    </header>

    <div id="content">
      <div class="content-item _about-directions">
        <div class="innerwidth2">
          <div class="col460">
            <p  class="_italic" style="font-family:'PFBeauSansPro-ThinItal',sans-serif;">
				<font style="font-family:'PFBeauSansPro-LightItal',sans-serif">Mail.Ru Group </font> реализует системную работу в области развития образования в сфере IT в России. Ежегодно компания проводит международную олимпиаду для программистов Russian Code Cup, Форумы Технологий, активно сотрудничает с кафедрами в вузах.
			</p>
          </div>
          <div class="col460 _flr">
            <p>
				В Mail.Ru Group действует специальная программа стаживовок для студентов и выпускников ВУЗов. Присоедниться к программе может каждый, у кого есть желание работать и развиваться с самой инновационной и быстрорастущей отрасли. Также большой набор участников идет через наш Технопарк, действующий в МГТУ имени Баумана. Прежде, чем попасть на стажировку, все желающие проходят через специальный отбор.
			</p>
          </div>
        </div>
      </div>

      <div class="directions-blocks _color-orange">
        <div class="directions-block" id="directions-3">
          <div class="content-item">
            <div class="innerwidth2">
              <h3 class="content-title"><a href="">Образование</a></h3>
              <div class="layout" style="margin-bottom:0;margin-top:50px">
                <div class="tabs-handlers-33">
                  <a href="javascript:void(0)" class="tab_title tab_title_active" tab="1" >
					<span class="tab-icon tab-icon-1" style=""></span>
					<span class="tab-header">Форум технологий</span>
				  </a>
                  <a href="javascript:void(0)" class="tab_title" tab="2">
					<span class="tab-icon tab-icon-2"></span>
					<span class="tab-header">Технопарк Mail.Ru</span>
				  </a>
				  <a href="javascript:void(0)" class="tab_title" tab="3">
					<span class="tab-icon tab-icon-3"></span>
					<span class="tab-header">Russian Code Cup</span>
				  </a>
                </div>
              </div>
			</div>
			<div class="content-item-color" style="background: none repeat scroll 0 0 #EEF1F5;margin-bottom:50px">
			<div class="innerwidth2">
              <div class="content tab-content tab-active" data-tab="1">
                <div class="col448 txt">
                  <p>Традиционно одно из самых интересных технолонических мероприятий, регулярно привлекает более тысячи профессионалов своей области. В прошлые годы спкерами мероприятия были Владимир Габриелян (вице-президент и технический директор Mail.Ru Group), Игорь Ермаков (директор направления Instant Messaging), Борис Вольфсон(СТО Head-Hunter). В качестве приглашенных спикеров участвовали Вячеслав Егоров(SE Google)? Sergi Mansilla(Lead Developer, Ajax.org) и многие другие.</p>
                  <p><a href="" class="l">www.techforum.ru</a></p>
                </div>
                <div class="col512">
                  <a href="" style="text-decoration:none" do="no">
                    <img src="images/pic-012.jpg" />
                    <span>Сторона клиента: уязвимости и защита</span><i></i>
                  </a>
                </div>
              </div>
			  <div class="content tab-content" data-tab="2">
                <div class="col448 txt">
                  <p>2. Традиционно одно из самых интересных технолонических мероприятий, регулярно привлекает более тысячи профессионалов своей области. В прошлые годы спкерами мероприятия были Владимир Габриелян (вице-президент и технический директор Mail.Ru Group), Игорь Ермаков (директор направления Instant Messaging), Борис Вольфсон(СТО Head-Hunter). В качестве приглашенных спикеров участвовали Вячеслав Егоров(SE Google)? Sergi Mansilla(Lead Developer, Ajax.org) и многие другие.</p>
                  <p><a href="" class="l">www.techforum.ru</a></p>
                </div>
                <div class="col512">
                  <a href="" style="text-decoration:none" do="no">
                    <img src="images/pic-01211.jpg" />
                    <span>Сторона клиента: уязвимости и защита</span><i></i>
                  </a>
                </div>
              </div>
			  <div class="content tab-content" data-tab="3">
                <div class="col448 txt">
                  <p>3. В прошлые годы спкерами мероприятия были Владимир Габриелян (вице-президент и технический директор Mail.Ru Group), Игорь Ермаков (директор направления Instant Messaging), Борис Вольфсон(СТО Head-Hunter). В качестве приглашенных спикеров участвовали Вячеслав Егоров(SE Google)? Sergi Mansilla(Lead Developer, Ajax.org) и многие другие.</p>
                  <p><a href="" class="l">www.techforum.ru</a></p>
                </div>
                <div class="col512">
                  <a href="" style="text-decoration:none" do="no">
                    <img src="images/pic-012.jpg" />
                    <span>Сторона клиента: уязвимости и защита</span><i></i>
                  </a>
                </div>
              </div>
			  </div>
            </div>
          </div>
        </div>
      </div>
	  <div class="directions-block" id="directions-3" style="margin-bottom:60px">
          <div class="content-item">
            <div class="innerwidth2">
              <h3 class="content-title"><a href="">Добро Mail.Ru</a></h3>
              <div class="content" style="background:none">
                <div class="col448 txt" style="padding-left:0;padding-bottom: 65px;">
                  <p>Добро Mail.Ru - это сервис, который помогает неравнодушным людям участвовать в благотворительных проектах почти во всех городах России. Впервые практически все способы сделать добрее дело собраны в одном месте. Сегодня Добро поддерживает 30 благотворительных оргинизаций, которые ведут 115 проектов по всей России.</p>
				  <p>
				  На Добре можно найти проекты помощи детям, взрослым, попавшим в трудную жизненную ситуацию, пожилим людям, а также проекты, посвященные заботе о бездомных животных или связанные с борьбой за сохранение многообразия природы. К деятельности фондов можно присоединиться и помочь деньгами или делом, сделав пожертвование или подав заявку на участие в волентерском проекте прямо с сайта.
				  </p>
				  <p><a href="" id="bot-lnk" class="l">www.dobro.mail.ru</a></p>
                </div>
                <div class="col512">
                  <a href="">
                    <img src="images/dobro.png" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
