<body class='inner navType-05'>
    <header id="header">
      <div class="header-navigation">
        <div class="innerwidth2">
          <div class="header-logo">
            <a href="main.html"><img alt="Логотип mail.ru group" src="images/header-logo.png" /></a>
          </div>
          <ul class="header-navigation-list">
            <li submenu="1"><a href="mission.html" do="no">О компании</a></li>
            <li submenu="2"><a href="investors.html" do="no">Инвесторам</a></li>
            <li submenu="3"><a href="inner.html" do="no">Прессе</a></li>
            <li submenu="4" class="item-active"><a href="jobs-home.html" do="no">Работа в Mail.ru Group</a></li>
            <li><a href="partners.html" do="no">Партнерам</a></li>
            <li><a href="advertisers.html" do="no">Рекламодателям</a></li>
            <li class="header-navigation-item_lang"><a href="" do="no">Eng</a></li>
          </ul>
        </div>
      </div>

	  <div class="header-menu first-active-menu" menu="4" id="submenu-4">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-19 _active" subtext="1"><a href="jobs.html">Вакансии</a></li>
            <li class="header-menu-item-20 " subtext="1"><a href="trainees.html">Стажерам</a></li>
            <li class="header-menu-item-21 " subtext="1"><a href="">РАЗВИТИЕ В Mail.Ru Group</a></li>
            <li class="header-menu-item-22 " subtext="1" ><a href="">ЗАПОЛНИТЬ РЕЗЮМЕ</a></li>
            <li class="header-menu-item-23 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>

      <div class="header-menu" menu="2" id="submenu-2">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-1 " subtext="1"><a href="informational-materials.html">информационные материалы</a></li>
            <li class="header-menu-item-2 " subtext="1"><a href="finance.html">Финансовые отчеты</a></li>
            <li class="header-menu-item-3 " subtext="1"><a href="corporate.html">корпоративное управление</a></li>
            <li class="header-menu-item-4 " subtext="1"><a href="stock.html">акции и акционерный капитал</a></li>
            <li class="header-menu-item-5 " subtext="1"><a href="analysts.html">аналитики</a></li>
            <li class="header-menu-item-6 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
          <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	<div class="header-menu" menu="1" id="submenu-1">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-7 " subtext="1"><a href="mission.html">Миссия</a></li>
            <li class="header-menu-item-8 " subtext="1"><a href="history.html">История</a></li>
            <li class="header-menu-item-9 " subtext="1"><a href="about-team.html">Руководство</a></li>
            <li class="header-menu-item-10 " subtext="1" ><a href="about-directions-1.html">Направления бизнеса</a></li>
            <li class="header-menu-item-11 " subtext="1"><a href="tech.html">Социальная ответственность</a></li>
            <li class="header-menu-item-12 " subtext="1"><a href="company-contacts.html">Контакты</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

	  <div class="header-menu" menu="3" id="submenu-3">
        <div class="header-menu-left"></div>
        <div class="header-menu-right"></div>
        <div class="header-menu-content">
          <ul class="innerwidth2">
            <li class="header-menu-item-13 " subtext="1"><a href="press-events-1.html">Мероприятия</a></li>
            <li class="header-menu-item-14 " subtext="1"><a href="press-about.html">Пресса о нас</a></li>
            <li class="header-menu-item-15 " subtext="1"><a href="press-releases.html">Пресс-релизы</a></li>
            <li class="header-menu-item-16 " subtext="1" ><a href="infographics.html">Инфографика</a></li>
            <li class="header-menu-item-17 " subtext="1"><a href="hr.html">Контакты</a></li>
            <li class="header-menu-item-18 " subtext="1"><a href="corporate-identity.html">Фирменный стиль</a></li>
          </ul>
		  <div class="subtext" id="subtext-1">
          <div class="innerwidth2 subtext-inner">
			<div class="left-side">
				<div class="short">
					<div class="content-time">27.12.2012, Slon.ru</div>
					<h1><a href="#">Технопарк признан лучшим социальным проектом России</a></h1>
						<p>Официальным аудитором программы выступила группа BDO. В состав экспертного совета помимо отечественных экспертов вошли представители международных компаний, таких как Cone Communications, CSR Europe, BSR.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="anonce">
					<div class="-ievents" style="margin-right:30px;"><a href="">
						<div class="events-preview">
						    <img src="images/unused/anonce1.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div class="-ievents"><a href="">
						<div class="events-preview">
							<img src="images/unused/anonce2.jpg"><b class="covered"></b>
						</div>
						<div class="content-time">27.12.2012, Slon.ru</div>
						Warface - главная игра Рунета</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			</div>
		  </div>
        </div>
      </div>

    </header>

    <div id="content">

      <div class="layout innerwidth2">
        <div class="col600">
          <h3 class="content-title">Менеджер по работе с договорами</h3>
          <h4 class="content-titleDesc">Mail.Ru Group, Поста и портал</h4>
          <div class="gotobacklink">
            <a href="" style="">Вернуться назад</a>
          </div>
          <div class="inset-text">
            <p>Мы выросли до крупнейшей компании рунета с миллионными аудиториями. У нас множество проектов — высоконагруженные (Почта Mail.Ru, Поиск Mail.Ru, Агент и ICQ, Мой Мир и Одноклассники, Игры), мультимедийные (Hi-Tech, Леди, Путешествия), E-commerce проекты (Деньги, Товары, Недвижимость), образовательные (Russian Code Cup, Russian Design Cup, Russian AI Cup, Форум Технологий), с открытым исходным кодом (Tarantool) . У нас всегда есть рабочие места для тех, кто полон энтузиазма и свежих идей, кого сложные задачи подстегивают, кто хочет сделать мир лучше и намерен этим заниматься в рабочее время.</p>
            <p>Мы ждем людей, которые хотят воплощать и развивать масштабные проекты — и с первого дня работы предоставляем им для этого все необходимое, от полномочий до ответственности за реализацию. Мы нетерпимы к бюрократии — удачные мысли в Mail.Ru Group начинают жить немедленно: от возникновения идеи до воплощения может пройти 15 минут.</p>
            <p>Мы ждем людей, которые хотят воплощать и развивать масштабные проекты — и с первого дня работы предоставляем им для этого все необходимое, от полномочий до ответственности за реализацию. Мы нетерпимы к бюрократии — удачные мысли в Mail.Ru Group начинают жить немедленно: от возникновения идеи до воплощения может пройти 15 минут.</p>
          </div>
          <ul class="vacancy-desc list">
            <li class="list-item _opened">
              <div class="list-item-name">Обязанности</div>
              <div class="list-item-content">
                <p>Ведение договорных отношений с партнерами компании, ведение существующих партнерских баз;</p>
                <p>Ведение документооборота отдела: согласование договоров, контроль за поступлением закрывающих документов, проверка документов и их подписание;</p>
                <p>Мониторинг и анализ ситуации с кредиторской задолженностью;</p>
                <p>Взаимодействие с подразделениями компании: служба безопасности, юридический отдел, бухгалтерия, менеджеры отдела;</p>
                <p>Ведение договорных отношений с партнерами компании, ведение существующих партнерских баз;</p>
                <p>Ведение документооборота отдела: согласование договоров, контроль за поступлением закрывающих документов, проверка документов и их подписание;</p>
                <p>Мониторинг и анализ ситуации с кредиторской задолженностью;</p>
                <p>Взаимодействие с подразделениями компании: служба безопасности, юридический отдел, бухгалтерия, менеджеры отдела;</p>
                <p>Ведение договорных отношений с партнерами компании, ведение существующих партнерских баз;</p>
                <p>Ведение документооборота отдела: согласование договоров, контроль за поступлением закрывающих документов, проверка документов и их подписание;</p>
                <p>Мониторинг и анализ ситуации с кредиторской задолженностью;</p>
                <p>Взаимодействие с подразделениями компании: служба безопасности, юридический отдел, бухгалтерия, менеджеры отдела;</p>
                <p>Ведение договорных отношений с партнерами компании, ведение существующих партнерских баз;</p>
                <p>Ведение документооборота отдела: согласование договоров, контроль за поступлением закрывающих документов, проверка документов и их подписание;</p>
                <p>Мониторинг и анализ ситуации с кредиторской задолженностью;</p>
                <p>Взаимодействие с подразделениями компании: служба безопасности, юридический отдел, бухгалтерия, менеджеры отдела;</p>
              </div>
            </li>
            <li class="list-item _opened">
              <div class="list-item-name">Требования</div>
              <div class="list-item-content">
                <p>Ведение договорных отношений с партнерами компании, ведение существующих партнерских баз;</p>
                <p>Ведение документооборота отдела: согласование договоров, контроль за поступлением закрывающих документов, проверка документов и их подписание;</p>
                <p>Мониторинг и анализ ситуации с кредиторской задолженностью;</p>
                <p>Взаимодействие с подразделениями компании: служба безопасности, юридический отдел, бухгалтерия, менеджеры отдела;</p>
              </div>
            </li>
            <li class="list-item _opened">
              <div class="list-item-name">Личные качества</div>
              <div class="list-item-content">
                <p>Ведение договорных отношений с партнерами компании, ведение существующих партнерских баз;</p>
                <p>Ведение документооборота отдела: согласование договоров, контроль за поступлением закрывающих документов, проверка документов и их подписание;</p>
                <p>Мониторинг и анализ ситуации с кредиторской задолженностью;</p>
                <p>Взаимодействие с подразделениями компании: служба безопасности, юридический отдел, бухгалтерия, менеджеры отдела;</p>
              </div>
            </li>
            <!-- <li class="list-item _opened">
              <div class="list-item-name">Условия</div>
              <div class="list-item-content">
                <p>Ведение договорных отношений с партнерами компании, ведение существующих партнерских баз;</p>
                <p>Ведение документооборота отдела: согласование договоров, контроль за поступлением закрывающих документов, проверка документов и их подписание;</p>
                <p>Мониторинг и анализ ситуации с кредиторской задолженностью;</p>
                <p>Взаимодействие с подразделениями компании: служба безопасности, юридический отдел, бухгалтерия, менеджеры отдела;</p>
              </div>
            </li> -->
          </ul>
        </div>
        <div class="col310">
          <!-- <a href="" class="vacancy-linkall">Все вакансии</a> -->
          <div class="vacancy-info">
            <div class="vacancy-info-item">
              <p>дата публикации</p>
              <p>27 мая 2013</p>
            </div>
            <div class="vacancy-info-item">
              <p>город</p>
              <p>Москва</p>
            </div>
            <!-- <div class="vacancy-info-item">
              <p>зарплата</p>
              <p>Не указана</p>
            </div> -->
            <div class="vacancy-info-item">
              <p>требуемый опыт</p>
              <p>3-5 лет</p>
            </div>
            <div class="vacancy-info-item">
              <p>тип занятости</p>
              <p>Полный рабочий день</p>
            </div>
          </div>
          <a href="" class="vacancy-link" do="no">Откликнуться на вакансию</a>
        </div>
      </div>

      <div class="content-item content-item_color _full" id="jobs-end" style="position:relative;z-index:99999">
        <div class="innerwidth2">
          <p>Присылайте ваше резюме на <a href="">hr@corp.mail.ru</a> и принимайте участие в нашей программе!</p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="innerwidth2 sitemap">
        <ul class="sitemap-cols">
          <li class="sitemap-col-1">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="mission.html">О компании</a></li>
              <li><a href="mission.html">Миссия</a></li>
              <li><a href="history.html">История</a></li>
              <li><a href="about-team.html">Руководство</a></li>
              <li><a href="about-directions-1.html">Направления бизнеса</a></li>
              <li><a href="">Социальная ответственность</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-2">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="informational-materials.html">Инвесторам</a></li>
              <li><a href="informational-materials.html">Информационные материалы</a></li>
              <li><a href="finance.html">Финансовая информация</a></li>
              <li><a href="corporate.html">Корпоративное управление</a></li>
              <li><a href="stock.html">Инструменты для инвестора</a></li>
              <li><a href="analysts.html">Список аналитиков</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-3">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="press-events-1.html">Прессе</a></li>
              <li><a href="">Новости</a></li>
              <li><a href="press-releases.html">Пресс-релизы</a></li>
              <li><a href="">Мероприятия</a></li>
              <li><a href="corporate-identity.html">Фирменный стиль</a></li>
              <li><a href="press-about-2.html">Пресса о нас</a></li>
              <li><a href="">Аналитика</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-4">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="jobs.html">Работа в Mail.Ru Group</a></li>
              <li><a href="">Условия работы</a></li>
              <li><a href="jobs.html">Вакансии</a></li>
              <li><a href="trainees.html">Стажерам</a></li>
              <li><a href="">Развитие в Mail.Ru Group</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
          <li class="sitemap-col-5">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="partners.html">Партнерам</a></li>
              <li><a href="">Стартапам</a></li>
              <li><a href="">Разработчикам мобильных приложений</a></li>
            </ul>
          </li>
          <li class="sitemap-col-6">
            <ul class="sitemap-rows">
              <li class="sitemap-title"><a href="advertisers.html">Рекламодателям</a></li>
              <li><a href="">Наша статистика</a></li>
              <li><a href="">Аудитория</a></li>
              <li><a href="">Таргетинг</a></li>
              <li><a href="">Юридические требования</a></li>
              <li><a href="">Технические требования</a></li>
              <li><a href="">Прайс-лист</a></li>
              <li><a href="">Нестандартная реклама</a></li> <li><a href="company-contacts.html">Контакты</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="innerwidth2 footer-bottom">
        <div class="footer-copyright"><b>© 2012 Mail.Ru Group</b> <a href="">Условия пользовательского соглашения</a></div>
        <div class="footer-search">
          <footer>
            <input type="text" placeholder="Поиск по сайту">
          </footer>
        </div>
        <div class="footer-social">
          <a class="social-odno" href=""></a>
          <a class="social-mail" href=""></a>
          <a class="social-jour" href=""></a>
          <a class="social-feed" href=""></a>
        </div>
      </div>
    </footer>
  </body>
